  <!-- ASIDE -->
  <aside>
    <button id="close-btn">
        <span class="material-icons-sharp">close</span>
    </button>

    <div class="sidebar">
      <a href="#" class="sidebar-opt active">
         <span class="material-icons-sharp">dashboard</span>
         <h4>DASHBOARD</h4>
      </a>
       <a href="#" class="sidebar-opt">
         <span class="material-icons-sharp">euro</span>
         <h4>SALES</h4>
      </a>
       <a href="#" class="sidebar-opt"> 
         <span class="material-icons-sharp">shopping_cart</span>
         <h4>PRODUCTS</h4>
      </a>
       <a href="#" class="sidebar-opt">
         <span class="material-icons-sharp">person_search</span>
         <h4>CUSTOMERS</h4>
      </a>
       <a href="#" class="sidebar-opt">
         <span class="material-icons-sharp">local_convenience_store</span>
         <h4>STORES</h4>
      </a>
       <a href="#" class="sidebar-opt">
         <span class="material-icons-sharp">post_add</span>
         <h4>POST</h4>
      </a>
       <a href="#" class="sidebar-opt">
         <span class="material-icons-sharp">report</span>
         <h4>REPORT</h4>
      </a>
      <a href="#" class="sidebar-opt">
         <span class="material-icons-sharp">settings_suggest</span>
         <h4>SETTING</h4>
      </a>
    </div>

    <div class="updates">
          <span class="material-icons-sharp">update</span>
         <h4>UPDATES AVAILABLE</h4>
         <p>Security Updates</p> 
         <p>General Updates</p>
         <a href="#">Update Now</a>
    </div>

  </aside>
  <!-- END ASIDE -->