<!-- NAVBAR -->

<nav>
    <div class="container-nav">
      <img src="/images/Image/favicon.png" alt="LOGO" class="logo">

      <div class="search-bar">
        <span class="material-icons-sharp">search</span>
        <input type="search" placeholder="Search">
      </div>

      <div class="profile-area">
        <div class="theme-btn">
          <span class="material-icons-sharp active">light_mode</span>
          <span class="material-icons-sharp">dark_mode</span>
        </div>

        <div class="profile">
          <div class="profile-photo">
             <img src="/images/avatar/avt1.jpg" alt="avatar">
          </div>
          <h5>Admin1</h5>
          
        </div>

        <button id="menu-btn">
          <span class="material-icons-sharp">menu</span>
        </button>
      </div>
    </div>
</nav>

<!-- END NAVBAR -->

