  <!-- ASIDE -->
  <aside>
    <button id="close-btn">
        <span class="material-icons-sharp">close</span>
    </button>

    <div class="sidebar">
      <a href="#" class="sidebar-opt active">
         <span class="material-icons-sharp">dashboard</span>
         <h4>DASHBOARD</h4>
      </a>
       <a href="#" class="sidebar-opt dropdown-btn">
         <span class="material-icons-sharp">euro</span>
         <h4>SALES</h4>
      </a>
      <div class="dropdown-container">
          <a href="/admin/order-grid" class="css-dropdown">ORDERS</a>
          <a href="#">INVOICES</a>
          <a href="#">SHIPMENT</a>
      </div>
       <a href="#" class="sidebar-opt dropdown-btn"> 
         <span class="material-icons-sharp">shopping_cart</span>
         <h4>CATALOG</h4>
      </a>
       <div class="dropdown-container">
          <a href="/admin/product-grid" class="css-dropdown">products</a>
          <a href="#">Categories</a>
      </div>
       <a href="#" class="sidebar-opt dropdown-btn">
         <span class="material-icons-sharp">person_search</span>
         <h4>users</h4>
      </a>
      <div class="dropdown-container">
          <a href="/admin/customer-grid" class="css-dropdown">Customers</a>
          <a href="#">Sellers</a>
      </div>
       <a href="#" class="sidebar-opt">
         <span class="material-icons-sharp">local_convenience_store</span>
         <h4>STORES</h4>
      </a>
       <a href="#" class="sidebar-opt">
         <span class="material-icons-sharp">post_add</span>
         <h4>POST</h4>
      </a>
       <a href="#" class="sidebar-opt">
         <span class="material-icons-sharp">report</span>
         <h4>REPORT</h4>
      </a>
      <a href="#" class="sidebar-opt">
         <span class="material-icons-sharp">settings_suggest</span>
         <h4>SETTING</h4>
      </a>
    </div>

    <div class="updates">
          <span class="material-icons-sharp">update</span>
         <h4>UPDATES AVAILABLE</h4>
         <p>Security Updates</p> 
         <p>General Updates</p>
         <a href="#">Update Now</a>
    </div>

  </aside>
  <!-- END ASIDE -->

  <script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>