<div id="header">
    <div id="fullnav">
        <div id="left_nav">
            <ul class="menu">
                <li class="item lv1"><a href="">Home</a></li>
                <li class ="menunav item lv1">
                    <a  href="">SecondHand </a>
                    <ul class="subnav">
                        <li><a href="">Man</a></li>
                        <li><a href="">Woman</a></li>
                        <li><a href="">Unisex</a></li>
                        <li><a href="">T-Shirt</a></li>
                        <li><a href="">Dress</a></li>
                        <li><a href="">Shirts</a></li>
                        <li><a href="">Pants</a></li>
                        <li><a href="">All Clothing</a></li>
                    </ul>
                </li>
                <li class ="menunav item lv1">
                    <a href="">New Clothes</a>
                    <ul class="subnav">
                        <li><a href="">Man</a></li>
                        <li><a href="">Woman</a></li>
                        <li><a href="">Unisex</a></li>
                        <li><a href="">T-Shirt</a></li>
                        <li><a href="">Dress</a></li>
                        <li><a href="">Shirts</a></li>
                        <li><a href="">Pants</a></li>
                        <li><a href="">All Clothing</a></li>
                    </ul>
                </li>
                <li class="item lv1"><a href="">Seller Channel</a></li>
                <li class ="menunav item lv1">
                    <a href="">More</a>
                    <ul class="subnav">
                        <li><a href="">Sale</a></li>
                        <li><a href="">My Order</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Transport</a></li>
                        <li><a href="">About Us.</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="main_logo">
            <img src="/images/image/mainlogo.png" alt="SPREZZA_logo">
        </div>

        <div id="search_nav">

            <form action="" class="search" method="post">
                <div>
                    <input type="text" placeholder="Search . . ." required>
                </div>
            </form>
        </div>
        <div id="right_nav">
            <ul>
                <li><img id="img-buynow" class="icon bag-img" src="/images/iconheader/bag.svg" alt="Addtocart"></li>
                <li><a href=""><img class="icon like-img" src="/images/iconheader/heart.svg" alt="Like"></a></li>
                <li><a href=""><img class="icon bell-img" src="/images/iconheader/bell.svg" alt="Notice"></a></li>
                <li><a href=""><img class="icon account-img" src="/images/iconheader/profile.svg" alt="Login"></a></li>
                
            </ul>
        </div>
    </div>

</div>
