:root {
  --color-white: #ffff;
  --color-light: #f0f1f7;
  --color-gray-light: #86848c;
  --color-gray-dark: #56555e;
  --color-dark: #27282f;
  --color-primary: pink;
  --color-success: rgb(34, 202, 75);
  --color-danger: rgb(235, 72, 72);
  --color-warning: rgb(234, 181, 7);
  --color-purple: rgb(180, 97, 232);
  --color-primary-light: rgba(255, 20, 147, 0.5);
  --color-success-light: rgba(34, 202, 75, 0.2);
  --color-danger-light: rgba(46, 41, 41, 0.2);
  --color-purple-light: rgba(180, 97, 232, 0.2);
  --card-padding: 1.6rem;
  --padding-1: 1rem;
  --padding-2: 8px;
  --card-border-radius: 1.6rem;
  --border-radius-1: 1rem;
  --border-radius-2: 6px;
  --text-color: rgba(159, 179, 184, 0.5);
  --text-align-right: right; }

.information-acccount {
  width: 100%; }
  .information-acccount .container-profile {
    display: grid;
    grid-template-columns: 12rem auto;
    gap: 2rem;
    width: 80%;
    margin: 1rem auto 4rem;
    margin-top: 20px; }
    .information-acccount .container-profile .profile {
      display: flex;
      justify-content: space-around;
      padding: 15px 0;
      border-bottom: 1px solid #efefef;
      align-items: center; }
      .information-acccount .container-profile .profile .profile-photo {
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        overflow: hidden; }
        .information-acccount .container-profile .profile .profile-photo img {
          width: 3rem;
          height: 3rem; }
        .information-acccount .container-profile .profile .profile-photo h5 {
          font-size: 14px;
          font-weight: 300; }
      .information-acccount .container-profile .profile .username .edit {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 10px;
        color: #a29d9d;
        margin-top: 5px; }
    .information-acccount .container-profile .sidebar .sidebar-opt {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      height: 4.0rem;
      color: var(--color-gray-light);
      position: relative;
      text-decoration: none; }
      .information-acccount .container-profile .sidebar .sidebar-opt i {
        font-size: 1.5rem;
        margin-left: 3rem;
        transition: all 300ms ease; }
      .information-acccount .container-profile .sidebar .sidebar-opt.active {
        background: var(--color-white);
        color: var(--color-primary); }
        .information-acccount .container-profile .sidebar .sidebar-opt.active:before {
          content: "";
          width: 6px;
          height: 100%;
          position: absolute;
          background: var(--color-primary); }
      .information-acccount .container-profile .sidebar .sidebar-opt:hover {
        color: var(--color-primary); }
        .information-acccount .container-profile .sidebar .sidebar-opt:hover span {
          margin-left: 2rem; }
    .information-acccount .container-profile .sidebar .sub-sidebar-opt {
      font-size: 10px;
      display: flex;
      align-items: center;
      gap: 1.2rem;
      height: 2rem;
      color: var(--color-gray-light);
      /* position: relative; */
      text-decoration: none;
      flex-direction: row-reverse;
      /* flex-wrap: nowrap; */
      left: 30px; }
      .information-acccount .container-profile .sidebar .sub-sidebar-opt:hover {
        color: var(--color-primary); }
        .information-acccount .container-profile .sidebar .sub-sidebar-opt:hover span {
          margin-left: 2rem; }
    .information-acccount .container-profile .right {
      border: 1px solid #efefef; }
      .information-acccount .container-profile .right .form-right {
        margin: 0 auto;
        width: 90%;
        /*my-account*/ }
        .information-acccount .container-profile .right .form-right .form-right-tilte {
          margin-top: 20px;
          border-bottom: 1px solid #efefef;
          height: 60px; }
          .information-acccount .container-profile .right .form-right .form-right-tilte .sign-up {
            color: red; }
        .information-acccount .container-profile .right .form-right .form-right-content {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          align-items: flex-start; }
          .information-acccount .container-profile .right .form-right .form-right-content .form-left {
            flex: 2;
            padding-right: 3.125rem; }
            .information-acccount .container-profile .right .form-right .form-right-content .form-left .form-infor table {
              border-collapse: collapse;
              border-spacing: 0; }
            .information-acccount .container-profile .right .form-right .form-right-content .form-left .form-infor .tb-infor-account {
              width: 602px; }
          .information-acccount .container-profile .right .form-right .form-right-content .user-1 {
            color: var(--color-gray-light);
            text-align: var(--text-align-right);
            overflow: hidden;
            padding-bottom: 30px;
            white-space: nowrap;
            min-width: 20%;
            font-size: 14px; }
          .information-acccount .container-profile .right .form-right .form-right-content .user-1-1 {
            box-sizing: border-box;
            padding-left: 20px;
            padding-bottom: 30px;
            font-size: 14px;
            color: #27282f; }
          .information-acccount .container-profile .right .form-right .form-right-content .center {
            display: flex; }
          .information-acccount .container-profile .right .form-right .form-right-content .email-1 {
            align-items: center;
            display: flex; }
          .information-acccount .container-profile .right .form-right .form-right-content .email-1-1 {
            font-size: 12px;
            color: #27282f; }
          .information-acccount .container-profile .right .form-right .form-right-content .change-btn {
            border: 0;
            padding-left: 10px;
            outline: none;
            background: none;
            color: pink;
            font-size: 14px;
            text-transform: capitalize;
            text-decoration: underline; }
          .information-acccount .container-profile .right .form-right .form-right-content .user-1-1-1 .btn-bot {
            display: block;
            width: 100%;
            text-align: center; }
          .information-acccount .container-profile .right .form-right .form-right-content .user-1-1-1 .btn-solid-primary {
            color: #fff;
            position: relative;
            overflow: visible;
            outline: 0;
            background: var(--color-primary);
            border: 1px solid var(--color-primary);
            margin-bottom: 20px; }
          .information-acccount .container-profile .right .form-right .form-right-content .user-1-1-1 .btn--m {
            height: 30px;
            padding: 0 20px;
            min-width: 70px;
            max-width: 220px;
            line-height: 30px; }
          .information-acccount .container-profile .right .form-right .form-right-content .user-1-1-1 .btn--inline {
            display: inline-flex; }
          .information-acccount .container-profile .right .form-right .form-right-content .form-right {
            flex: 1;
            justify-content: center;
            display: flex;
            overflow: hidden;
            border-left: 0.0625rem solid #efefef; }
            .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper {
              max-width: 200px;
              margin: 0 auto;
              flex-direction: column;
              align-items: center;
              display: flex; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .img-wrapper {
                height: 6.25rem;
                width: 6.25rem;
                margin: 1.25rem 0;
                position: relative;
                justify-content: center;
                align-items: center;
                display: flex; }
                .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .img-wrapper .img-bg {
                  width: 100%;
                  height: 100%;
                  background-position: 50%;
                  background-size: cover;
                  background-repeat: no-repeat;
                  cursor: pointer;
                  border-radius: 50%; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .note {
                display: none; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper input {
                line-height: normal; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .btn-light {
                outline: 0;
                background: #fff;
                color: #555;
                border: 1px solid rgba(0, 0, 0, 0.09);
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
                position: relative;
                overflow: visible; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .btn--m {
                height: 40px;
                padding: 0 20px;
                min-width: 70px;
                max-width: 220px; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .btn--inline {
                display: inline-flex; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .btn {
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                flex-direction: column;
                font-size: 14px;
                box-sizing: border-box;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
                border-radius: 2px;
                border: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                outline: 0;
                cursor: pointer; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .btn-light {
                outline: 0;
                background: #fff;
                color: #555;
                border: 1px solid rgba(0, 0, 0, 0.09);
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.03);
                position: relative;
                overflow: visible; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .btn--m {
                height: 40px;
                padding: 0 20px;
                min-width: 70px;
                max-width: 220px; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .btn--inline {
                display: inline-flex; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .btn {
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                flex-direction: column;
                font-size: 14px;
                box-sizing: border-box;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
                border-radius: 2px;
                border: 1px solid grey;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                outline: 0;
                cursor: pointer; }
              .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .warning {
                margin-top: 0.75rem;
                display: block; }
                .information-acccount .container-profile .right .form-right .form-right-content .form-right .form-right-wrapper .warning .noti {
                  color: #999;
                  font-size: 10px;
                  line-height: 1.25rem; }
        .information-acccount .container-profile .right .form-right .myaccount {
          display: none; }
    .information-acccount .container-profile .my-order {
      display: none; }
      .information-acccount .container-profile .my-order .my-order-wrapper .nav-my-order {
        width: 100%;
        margin-bottom: 12px;
        display: flex;
        overflow: hidden;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 10;
        background: #fff;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px; }
        .information-acccount .container-profile .my-order .my-order-wrapper .nav-my-order .title-nav {
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          padding: 16px 0;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: rgba(0, 0, 0, 0.8);
          background: #fff;
          border-bottom: 1px solid rgba(0, 0, 0, 0.09);
          display: flex;
          flex: 1;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          transition: color .2s;
          text-decoration: none; }
          .information-acccount .container-profile .my-order .my-order-wrapper .nav-my-order .title-nav:hover {
            color: pink; }
          .information-acccount .container-profile .my-order .my-order-wrapper .nav-my-order .title-nav .tilte-nav-1 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
        .information-acccount .container-profile .my-order .my-order-wrapper .nav-my-order .active-default {
          border-color: pink;
          color: pink; }
          .information-acccount .container-profile .my-order .my-order-wrapper .nav-my-order .active-default:hover {
            color: pink; }
      .information-acccount .container-profile .my-order .my-order-wrapper .search-myorder {
        padding: 12px 0;
        margin: 12px 0;
        display: flex;
        align-items: center;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        color: #212121;
        background: #eaeaea;
        border-radius: 2px;
        gap: 5px; }
        .information-acccount .container-profile .my-order .my-order-wrapper .search-myorder i {
          color: #958f8f;
          padding-left: 10px; }
        .information-acccount .container-profile .my-order .my-order-wrapper .search-myorder input {
          flex: 1;
          font-size: 12px;
          line-height: 14px;
          border: 0;
          outline: none;
          background-color: inherit; }
      .information-acccount .container-profile .my-order .my-order-wrapper .id-order {
        margin: 12px 0;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        border-radius: 0.125rem; }
        .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 {
          padding: 12px 24px;
          background: #fff; }
          .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .shop-order {
            padding: 0 0 12px;
            border-bottom: 1px solid #efefef; }
            .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .shop-order .shop-name {
              max-width: 200px;
              margin-left: 8px;
              font-size: 14px;
              font-weight: 600;
              overflow: hidden;
              text-overflow: ellipsis; }
          .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order {
            border-bottom: 1px solid #efefef; }
            .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 {
              display: flex;
              word-wrap: break-word;
              padding: 12px 0;
              align-items: center;
              flex-wrap: nowrap;
              color: rgba(0, 0, 0, 0.87); }
              .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 {
                padding: 0 12px 0 0;
                flex: 1;
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap; }
                .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 .img-product {
                  width: 80px;
                  height: 80px;
                  flex-shrink: 0;
                  border: 1px solid #e1e1e1;
                  background: #e1e1e1; }
                  .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 .img-product img {
                    width: 100%;
                    height: 100%; }
                .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 ._7uZf6Q {
                  min-width: 0;
                  padding: 0 0 0 12px;
                  display: flex;
                  flex: 1;
                  flex-direction: column;
                  align-items: flex-start;
                  word-wrap: break-word; }
                  .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 ._7uZf6Q .iJlxsT {
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    margin: 0 0 5px;
                    font-size: 16px;
                    line-height: 22px;
                    max-height: 48px; }
                  .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 ._7uZf6Q .vb0b-P {
                    color: rgba(0, 0, 0, 0.54); }
                  .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 ._7uZf6Q ._3F1-5M,
                  .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 ._7uZf6Q .vb0b-P {
                    margin: 0 0 5px; }
                .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 ._9UJGhr {
                  text-align: right; }
                  .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 ._9UJGhr .j2En5\+ {
                    margin: 0 4px 0 0;
                    -webkit-text-decoration-line: line-through;
                    -moz-text-decoration-line: line-through;
                    text-decoration-line: line-through;
                    color: #000;
                    opacity: .26;
                    overflow: hidden;
                    text-overflow: ellipsis; }
                  .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 ._9UJGhr .-x3Dqh,
                  .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 ._9UJGhr .j2En5\+,
                  .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 ._9UJGhr .kCaFF- {
                    vertical-align: middle;
                    font-size: 14px;
                    line-height: 16px;
                    color: rgba(0, 0, 0, 0.87); }
                  .information-acccount .container-profile .my-order .my-order-wrapper .id-order .id-order-wrapper .id-order-1 .product-order .product-1 .product-1-1 .product-order-0 ._9UJGhr .OkfGBc {
                    color: #f4798e; }
    .information-acccount .container-profile .my-shop {
      display: block; }
      .information-acccount .container-profile .my-shop .product-of-shop-wrapper {
        width: 100%;
        min-height: 500px;
        height: auto;
        margin-right: auto;
        margin-left: auto; }
        .information-acccount .container-profile .my-shop .product-of-shop-wrapper .title-product-shop {
          font-size: 16px;
          font-weight: 700;
          margin-top: 20px;
          text-transform: uppercase; }
        .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper {
          width: 90%;
          margin-right: auto;
          margin-left: auto;
          height: 100%;
          display: flex;
          flex-wrap: wrap; }
          .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .product-wrapper-item {
            width: 200px;
            max-width: 250px;
            height: 340px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            position: relative; }
          .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .css-product-item {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            width: 100%;
            height: 20px; }
            .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .css-product-item a {
              text-decoration: none;
              font-size: 13px;
              font-weight: 700;
              color: black;
              text-transform: uppercase;
              position: absolute;
              background: white; }
            .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .css-product-item img {
              width: 20px;
              height: 20px; }
          .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .css-product-item:hover {
            text-overflow: unset;
            white-space: unset;
            overflow: unset; }
          .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .sold {
            font-size: 10px;
            color: gray; }
          .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .icon-product {
            display: flex;
            justify-content: space-between;
            margin-top: 20px; }
            .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .icon-product img {
              width: 20px;
              height: auto; }
            .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .icon-product .wishlist {
              margin-left: 80px;
              cursor: pointer; }
            .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .icon-product .voucher {
              display: flex;
              bottom: 0.5rem; }
            .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .icon-product .img-buynow {
              cursor: pointer; }
          .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .css-product-item-price {
            margin-top: 10px; }
          .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper .img-icon:hover {
            background: #dbe1eb; }
        .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper-item .product-item-slider {
          width: 100%;
          height: auto; }
        .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-item-slider .product-item-img {
          width: 160px;
          height: 180px;
          padding: auto;
          margin-right: auto;
          margin-bottom: 30px;
          margin-left: auto; }
          .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-item-slider .product-item-img img {
            width: 100%;
            overflow: hidden; }
        .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper-item .product-item-descrip {
          width: 180px;
          min-height: 120px;
          margin-right: auto;
          margin-left: auto; }
          .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-wrapper-item .product-item-descrip .product-item-name {
            margin-bottom: 40px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600; }
        .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-item-descrip .product-item-price,
        .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-item-descrip .product-item-name {
          color: black;
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          font-size: 13px; }
        .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-item-descrip .product-item-price {
          font-weight: 100;
          margin-top: 10px; }
        .information-acccount .container-profile .my-shop .product-of-shop-wrapper .product-item-descrip .old-price {
          text-decoration: line-through; }
  .information-acccount .a-decor {
    text-decoration: none;
    color: #fff; }
