@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap");
.mg-right {
  margin-right: 10px; }

.icon-active {
  display: block; }

.icon-off {
  display: none; }

#catelog-cart {
  background-color: #fafafa; }
  #catelog-cart .sz-cate-list__header {
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    font-size: 1rem;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    display: flex;
    align-items: center; }
    #catelog-cart .sz-cate-list__header .css-icon {
      margin: 5px; }
  #catelog-cart .all-icon-cate {
    width: 20px; }
  #catelog-cart .mgTop-20 {
    margin-top: 20px; }
  #catelog-cart .container-1 {
    max-width: 101vw;
    width: 100%; }
  #catelog-cart section .section-title {
    font-family: monospace, "Space Mono";
    font-size: 40px;
    line-height: 60px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px; }
  #catelog-cart .sz-container {
    width: 1200px;
    margin: 0 auto;
    background: white; }
  #catelog-cart .sz-container-flex {
    display: flex; }
    #catelog-cart .sz-container-flex .sz-filter-panel {
      flex: 0 0 190px;
      min-width: 0;
      margin: 0 20px 20px 0;
      background-color: #ffc0cb33;
      height: fit-content; }
      #catelog-cart .sz-container-flex .sz-filter-panel .sz-cate-list .sz-cate-list__body .sz-cate-list__category .sz-category-list__main-category {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        padding: 8px 10px 8px 12px;
        position: relative;
        line-height: 16px;
        max-height: 48px;
        word-wrap: break-word; }
        #catelog-cart .sz-container-flex .sz-filter-panel .sz-cate-list .sz-cate-list__body .sz-cate-list__category .sz-category-list__main-category .sz-category-list__main-category__link {
          color: #ee2d5a; }
        #catelog-cart .sz-container-flex .sz-filter-panel .sz-cate-list .sz-cate-list__body .sz-cate-list__category .sz-category-list__main-category .sz-category-list__main-category--inactive {
          color: rgba(0, 0, 0, 0.857); }
      #catelog-cart .sz-container-flex .sz-filter-panel .sz-cate-list .sz-cate-list__body .sz-cate-list__category .folder-items {
        padding: 8px 10px 8px 12px;
        line-height: 20px;
        max-height: auto;
        margin-bottom: 10px; }
        #catelog-cart .sz-container-flex .sz-filter-panel .sz-cate-list .sz-cate-list__body .sz-cate-list__category .folder-items .list-sub__category {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.87);
          display: block;
          text-transform: capitalize;
          padding: 5px 5px 10px 0; }
      #catelog-cart .sz-container-flex .sz-filter-panel .sz-filter-search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.8);
        height: 30px;
        font-weight: 700;
        font-size: 16px; }
        #catelog-cart .sz-container-flex .sz-filter-panel .sz-filter-search .sz-filter-search__text {
          flex: 1; }
      #catelog-cart .sz-container-flex .sz-filter-panel .SZFT-1 {
        margin-top: 30px; }
      #catelog-cart .sz-container-flex .sz-filter-panel .sz-filter-group {
        padding: 20px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09); }
        #catelog-cart .sz-container-flex .sz-filter-panel .sz-filter-group .sz-filter-group__header {
          margin-bottom: 10px;
          font-weight: 500; }
        #catelog-cart .sz-container-flex .sz-filter-panel .sz-filter-group .sz-filter-group__body .sz-filter {
          align-items: flex-start;
          padding: 8px 0;
          flex-direction: column; }
          #catelog-cart .sz-container-flex .sz-filter-panel .sz-filter-group .sz-filter-group__body .sz-filter .sz-checkbox {
            overflow: hidden;
            display: flex;
            color: rgba(0, 0, 0, 0.8);
            margin: 10px 0;
            padding: 8px 10px 8px 12px; }
            #catelog-cart .sz-container-flex .sz-filter-panel .sz-filter-group .sz-filter-group__body .sz-filter .sz-checkbox .sz-checkbox__control {
              align-items: flex-start;
              display: flex;
              align-items: center;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none; }
            #catelog-cart .sz-container-flex .sz-filter-panel .sz-filter-group .sz-filter-group__body .sz-filter .sz-checkbox input {
              display: none; }
            #catelog-cart .sz-container-flex .sz-filter-panel .sz-filter-group .sz-filter-group__body .sz-filter .sz-checkbox .sz-checkbox__box {
              margin-top: 3px;
              justify-content: center;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              background-color: #fff;
              text-align: center;
              width: 13px;
              height: 13px;
              line-height: 11px;
              border: 1px solid rgba(0, 0, 0, 0.26);
              border-radius: 2px;
              flex-shrink: 0;
              margin-right: 10px;
              box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05); }
            #catelog-cart .sz-container-flex .sz-filter-panel .sz-filter-group .sz-filter-group__body .sz-filter .sz-checkbox .sz-checkbox__label {
              overflow: hidden;
              display: -webkit-box;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              line-height: 1rem;
              max-height: 3rem;
              word-wrap: break-word; }
        #catelog-cart .sz-container-flex .sz-filter-panel .sz-filter-group .sz-filter-group__body .sz-checkbox-filter {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: wrap; }
  #catelog-cart .SZrsSI {
    flex: 1;
    width: 0;
    min-width: 0; }
    #catelog-cart .SZrsSI .sz-search-items-result .sz-soft-bar {
      font-weight: 400;
      background: rgba(0, 0, 0, 0.03);
      padding: 0.8125rem 1.25rem;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #catelog-cart .SZrsSI .sz-search-items-result .sz-soft-bar .sz-soft-bar__label {
        color: #555;
        margin: 0 5px 0 0; }
      #catelog-cart .SZrsSI .sz-search-items-result .sz-soft-bar .sz-sort-by-options {
        display: flex;
        align-items: stretch;
        flex: 1;
        justify-content: flex-start; }
        #catelog-cart .SZrsSI .sz-search-items-result .sz-soft-bar .sz-sort-by-options .sz-sort-by-options__option {
          color: white;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
          height: 34px;
          line-height: 34px;
          border-radius: 2px;
          border: 0;
          user-select: none;
          display: flex;
          flex: 0 0 5.625rem;
          align-items: center;
          justify-content: center;
          text-transform: capitalize;
          padding: 0 0.9375rem;
          background: #fff;
          white-space: nowrap;
          margin-left: 0.625rem;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        #catelog-cart .SZrsSI .sz-search-items-result .sz-soft-bar .sz-sort-by-options .sz-sort-by-options__option:hover {
          background-color: #ee2d5a;
          color: white;
          cursor: pointer; }
        #catelog-cart .SZrsSI .sz-search-items-result .sz-soft-bar .sz-sort-by-options .select-with-status {
          min-width: 200px;
          margin-left: 10px; }
          #catelog-cart .SZrsSI .sz-search-items-result .sz-soft-bar .sz-sort-by-options .select-with-status .select-with-status__holder {
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
            height: 34px;
            line-height: 34px;
            border-radius: 2px;
            border: 0;
            margin: 0;
            background: #fff; }
            #catelog-cart .SZrsSI .sz-search-items-result .sz-soft-bar .sz-sort-by-options .select-with-status .select-with-status__holder .select-with-status__placeholder {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: rgba(0, 0, 0, 0.8);
              margin: 0 10px 0 12px;
              padding: 0;
              text-align: left;
              cursor: pointer; }
        #catelog-cart .SZrsSI .sz-search-items-result .sz-soft-bar .sz-sort-by-options .css-font-color {
          color: black; }
        #catelog-cart .SZrsSI .sz-search-items-result .sz-soft-bar .sz-sort-by-options .sz-sort-by-options__option--selected {
          background-color: #ee2d5a; }
        #catelog-cart .SZrsSI .sz-search-items-result .sz-soft-bar .sz-sort-by-options .sz-sort-by-options__option--selected:hover {
          background-color: black;
          color: #ee2d5a; }
    #catelog-cart .SZrsSI .sz-search-items-result .sz-search-items-result_items {
      margin: 8px 0 0;
      width: 100%;
      height: auto; }
      #catelog-cart .SZrsSI .sz-search-items-result .sz-search-items-result_items .sz-header-iems-content-wrapper {
        width: 90%;
        min-height: 0px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px; }
    #catelog-cart .SZrsSI .sz-search-items-result .N2tvQs {
      margin-top: 40px; }
      #catelog-cart .SZrsSI .sz-search-items-result .N2tvQs .sz-page-controller {
        margin: 24px 0 60px;
        display: flex;
        justify-content: center; }
        #catelog-cart .SZrsSI .sz-search-items-result .N2tvQs .sz-page-controller .sz-icon-button--left {
          text-align: right;
          margin-right: 0.9375rem; }
        #catelog-cart .SZrsSI .sz-search-items-result .N2tvQs .sz-page-controller .sz-icon-button {
          color: rgba(0, 0, 0, 0.4);
          min-width: 20px;
          height: 40px;
          border: 0;
          background-color: initial;
          padding: 0;
          outline: none;
          cursor: pointer;
          border: 0;
          font-size: 15px;
          font-weight: 300;
          line-height: 1;
          letter-spacing: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1); }
        #catelog-cart .SZrsSI .sz-search-items-result .N2tvQs .sz-page-controller .sz-button-solid--primary {
          background-color: #ee2d5a;
          position: relative;
          overflow: visible;
          outline: 0; }
        #catelog-cart .SZrsSI .sz-search-items-result .N2tvQs .sz-page-controller .sz-button-solid {
          padding: 0;
          min-width: 40px;
          text-align: center;
          height: 30px;
          font-size: 25px;
          margin-left: 15px;
          margin-right: 15px;
          border: 1px solid #ee2d5a; }
        #catelog-cart .SZrsSI .sz-search-items-result .N2tvQs .sz-page-controller .sz-button-no-outline {
          position: relative;
          overflow: visible;
          outline: 0;
          padding: 5px 7px;
          color: rgba(0, 0, 0, 0.394);
          background-color: initial;
          border: 0;
          padding: 0;
          min-width: 40px;
          text-align: center;
          height: 30px;
          font-size: 20px;
          margin-left: 15px;
          margin-right: 15px; }
        #catelog-cart .SZrsSI .sz-search-items-result .N2tvQs .sz-page-controller .sz-button-no-outline--non-click {
          cursor: auto; }
        #catelog-cart .SZrsSI .sz-search-items-result .N2tvQs .sz-page-controller .sz-icon-button--right {
          text-align: left;
          margin-left: 15px; }
  #catelog-cart .btn-apply {
    display: flex;
    justify-content: space-around;
    margin: 20px 0; }
    #catelog-cart .btn-apply .bt-css {
      color: white;
      background-color: #ee2d5a;
      width: 50px;
      height: 30px;
      border: 1px solid #ee2d5a;
      align-items: center;
      padding: 2px;
      font-size: 12px; }
