

    <!-- SECTION MIDDLE -->
  <section class="middle">
    <div class="header">
      <h1>Overview</h1>
      <input type="date">
    </div>
    <div class="select-store">
      <form action="">
        <label class="sl-tilte">Store View :</label>
        <select name="store" id="store" class="sl-opt">
          <option value="all">All Stores View</option>
          <option value="name-store-1">Store 1</option>
          <option value="name-store-2">Store 2</option>
          <option value="name-store-3">Store 3</option>
        </select>
      <input type="submit" value="Submit" class="submit">
</form>

    </div>
    <!-- Cards -->
    <div class="cards">

      <!-- Card 1-->
        <div class="card card-1">
          <div class="top">
            <div class="left">
              <h2>LIFETIME SALES</h2>
            </div>
          </div>
          <div class="mid">
            <h1>$199.565</h1>
            <span class="material-icons-sharp">auto_graph</span>
          </div>
          <div class="bot">
              <div class="left">
                <h3>Increased by : </h3>
              </div>
              <div class="right">
                <h3>60%</h3>
              </div>
          </div>
        </div>
      <!-- End Card -->

       <!-- Card 2-->
        <div class="card card-2">
          <div class="top">
            <div class="left">
              <h2>AVERAGE ORDER</h2>
            </div>
           
          </div>
          <div class="mid">
            <h1>5648</h1>
            <span class="material-icons-sharp">shopping_cart</span>
          </div>
          <div class="bot">
              <div class="left">
                <h3>Increased by : </h3>
              </div>
              <div class="right">
                <h3>40%</h3>
              </div>
          </div>
        </div>
      <!-- End Card -->


      <!-- Card 3-->
        <div class="card card-3">
          <div class="top">
            <div class="left">
              <h2>REVENUE</h2>
            </div>
          </div>
          <div class="mid">
            <h1>$ 98.68</h1>
            <span class="material-icons-sharp">payments</span>
          </div>
          <div class="bot">
              <div class="left">
                <h3>Increased by : </h3>
              </div>
              <div class="right">
                <h3>70%</h3>
              </div>
          </div>
        </div>
      <!-- End Card -->

      <!-- Card 3-->
        <div class="card card-4">
          <div class="top">
            <div class="left">
              <h2>RETURN</h2>
            </div>
          </div>
          <div class="mid">
            <h1>$ 98.68</h1>
            <span class="material-icons-sharp">payments</span>
          </div>
          <div class="bot">
              <div class="left">
                <h3>Increased by : </h3>
              </div>
              <div class="right">
                <h3>70%</h3>
              </div>
          </div>
        </div>
      <!-- End Card -->
    </div>
    <!-- End Cards -->
    <!-- Monthly Report -->
      <div class="monthly-report">
        <div class="report">
            <h3>Total Product</h3>
            <div>
                <details>
                    <h1>56.432</h1>
                    <h5 class="success">+3.0%</h5>
                </details>
                <p class="text-muted">
                  Compare to 34% , increased 34% last month
                </p>
            </div>
        </div>

        <div class="report">
            <h3>Turnover</h3>
            <div>
                <details>
                    <h1>$ 577.42</h1>
                    <h5 class="success">+30.0%</h5>
                </details>
                <p class="text-muted">
                  Compare to 64% last month
                </p>
            </div>
        </div>

        <div class="report">
            <h3>Successful Orders</h3>
            <div>
                <details>
                    <h1>678783</h1>
                    <h5 class="success">+7.0%</h5>
                </details>
                <p class="text-muted">
                  Compare to 45% last month
                </p>
            </div>
        </div>

        <div class="report">
            <h3>Return Order</h3>
            <div>
                <details>
                    <h1>123</h1>
                    <h5 class="danger"> -3.0%</h5>
                </details>
                <p class="text-muted">
                  Compare to 2.0% last month
                </p>
            </div>
        </div>
      </div>
    <!-- End Monthly Report -->
    <!-- Order report -->
    <div class="order-report">
      <div class="last-orders">
        <h2>Last Orders</h2>
          <table>
                    <tr>
                        <th>Customer</th>
                        <th>Items</th>
                        <th>Total</th>
                    </tr>

                    <tr>
                        <td>
                          <a href="#">Ribeccaa Molinad</a>
                        </td>
                        <td>   
                           <p>1</p>
                        </td>
                        <td>
                          <p>$12</p>
                        </td>
                      
                    </tr>

                     <tr>
                        <td>
                            <a href="#">Ribeccaa Molinad</a>
                        </td>
                        <td>   
                           <p>1</p>
                        </td>
                        <td>
                          <p>$12</p>
                        </td>
                      
                    </tr>


                    
                </table>
      </div>

      <div class="top-search">

      </div>
      
      <div class="top-sale">

      </div>
    </div>

      
  </section>
    <!-- END SECTION MIDDLE -->



<script defer>
  /*const ctx = document.getElementById('chart');
  const labels = [1,2,3,4,5,6,7];
const data = {
  labels: labels,
  datasets: [{
    label: 'My First Dataset',
    data: [65, 59, 80, 81, 56, 55, 40],
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};
  new Chart(ctx, {
    type: 'line',
    data: data,
     options: {
      title: {
                display: true,
                text: 'Custom Chart Title',
                fontSize:20
            }
    }
    }
    );
    
const total = document.getElementById('chart-total-order');
const charttoal = new Chart(total, {
  type: 'bar',
  data: {
    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    datasets: [{
      label: '# of Votes',
      data: [12, 19, 3, 5, 2, 3],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1
    }]
  },
  options: {
    plugins: {
      legend: {
        position: 'top',
      },
    title: {
      display: true,
      text: 'Custom Chart Title',
      padding: {
                    top: 10,
                    bottom: 30
                }
    }
    }
  }
});*/
</script>
