<div class="wrapper">
    <div class="title">
        <h1>ORDERS</h1>
    </div>

    <div class="content-wrapper">
        <div class="header">
            <div class="search-container">
                <form action="#">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><span class="material-icons-sharp">search</span></button>
                </form>
            </div>
            <div class="right">
                <div class="filter">
                    <div class="filter-container">
                        <form action="#">
                            <input type="text" placeholder="Filter" name="search">
                            <button type="submit"><span class="material-icons-sharp">filter_alt</span></button>
                        </form>
                    </div>
                </div>
                <div class="action">

                    <button type="submit"><select name="action" class="select-box">
                            <option value="">Success Order</option>
                            <option value="1">Cancel</option>
                            <option value="2">Hold</option>
                            <option value="3">Print Invoices</option>
                            <option value="4">Purchase Point</option>

                        </select></button>

                </div>
            </div>
        </div>
        <div class="body-content">
            <div class="table-data">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>IMAGE</th>
                        <th>NAME</th>
                        <th>DATE ORDER</th>
                        <th>QUANTITY</th>
                        <th>PRICE</th>
                        <th>TOTAL</th>
                        <th>STATUS</th>
                        <th>NOTE</th>
                    </tr>
                    <tr class="border-bot">
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">#0000001</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data"><img class="img-data"
                                        src="./images/iconheader/bag.svg" alt=""></a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Dress Lucie by SBHN</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Feb 14, 2023 <br> 2:30:29 PM</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">2</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$12</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$24</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Cancel</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1"></div>
                        </td>
                    </tr>

                    <tr class="border-bot">
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">#0000002</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data"><img class="img-data"
                                        src="./images/iconheader/bag.svg" alt=""></a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Dress Lucie by SBHN</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Feb 14, 2023 <br> 2:30:29 PM</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">2</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$12</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$24</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Cancel</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1"></div>
                        </td>
                    </tr>

                    <tr class="border-bot">
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">#0000003</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data"><img class="img-data"
                                        src="./images/iconheader/bag.svg" alt=""></a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Dress Lucie by SBHN</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Feb 14, 2023 <br> 2:30:29 PM</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">2</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$12</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$24</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Cancel</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1"></div>
                        </td>
                    </tr>

                    <tr class="border-bot">
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">#0000004</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data"><img class="img-data"
                                        src="./images/iconheader/bag.svg" alt=""></a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Dress Lucie by SBHN</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Feb 14, 2023 <br> 2:30:29 PM</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">2</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$12</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$24</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Cancel</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1"></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">#0000005</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data"><img class="img-data"
                                        src="./images/iconheader/bag.svg" alt=""></a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Dress Lucie by SBHN</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Feb 14, 2023 <br> 2:30:29 PM</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">2</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$12</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$24</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Cancel</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>