<div class="add-product">
    <div class="add-product-wrapper">
         <!--Tilte-->
        <div class="add-product-title">
                <h1>ADD NEW PRODUCT</h1>
        </div>

        <div class="add-product-items">

        <form action="#" class="send-form">
            
                <table class="add-product-item">
                                        <tr>
                                            <td class="title-item name">
                                                <p>Product Name: <p>
                                                
                                            </td>
                                            <td class="value-item name-1">
                                               <input type="text">
                                                <p class="warning-noti">At least 5 images type .jpeg , .jpg , .png</p>
                                            </td>
                                        </tr>
                                       
                                        <tr>
                                            <td class="title-item size">
                                                <p>Product Size: <p>
                                            </td>
                                            <td class="size-1">
                                                <input type="checkbox" id="small" name="small" value="S">
                                                <label for="small">S</label>
                                                <input type="checkbox" id="medium" name="medium" value="M">
                                                <label for="medium">M</label>
                                                <input type="checkbox" id="large" name="large" value="L">
                                                <label for="large">L</label>
                                                <input type="checkbox" id="other" name="other" value="Others">
                                                <label for="other">Others</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title-item color">
                                                <p>Product Colors: <p>
                                            </td>
                                            <td class="value-item color-1">
                                                <input type="text">
                                            </td>
                                        </tr>
                                         <tr>
                                            <td class="title-item price">
                                                <p>Price: <p>
                                            </td>
                                            <td class="value-item price-1">
                                                <input type="text" placeholder="$..."> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title-item descrip">
                                                <p>Description: <p>
                                            </td>
                                            <td class="value-item descrip-1">
                                                <input type="text">
                                            </td>
                                        </tr>
                                        
                                         <tr>
                                            <td class="title-item img">
                                                <p>Product Images: <p>
                                            </td>
                                            <td class="value-item img-1">
                                                <input type="file">
                                                <img  class="add-img"
                                                src="/images/iconheader/image.svg" alt="">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2"><button type="button" class="btn-buy">Add Product</button></td>
                                        </tr>
                        </table>
                    
            </form>
        </div>
    </div>
</div>