<div class="wrapper">
    <div class="title">
        <h1>PRODUCTS</h1>
    </div>

    <div class="content-wrapper">
        <div class="header">
            <div class="search-container">
                <form action="#">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><span class="material-icons-sharp">search</span></button>
                </form>
            </div>
            <div class="add-product-container">
                <form action="#">
                    <a href="./newproduct">Add Category</a>
                </form>
            </div>
            <div class="right">
                <div class="filter">
                    <div class="filter-container">
                        <form action="#">
                            <input type="text" placeholder="Filter" name="search">
                            <button type="submit"><span class="material-icons-sharp">filter_alt</span></button>
                        </form>
                    </div>
                </div>
                <div class="action">

                    <button type="submit"><select name="action" class="select-box">
                            <option value="">Success Order</option>
                            <option value="1">Cancel</option>
                            <option value="2">Hold</option>
                            <option value="3">Print Invoices</option>
                            <option value="4">Purchase Point</option>

                        </select></button>

                </div>
            </div>
        </div>
        <div class="body-content">
            <div class="table-data">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>IMAGE</th>
                        <th>NAME</th>
                        <th>TYPE</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>SKU</th>
                        <th>ACTUAL PRICE</th>
                        <th>CURRENT PRICE</th>
                        <th>Quantity</th>
                        <th>CTREATE DATE</th>
                        <th>NOTE</th>
                    </tr>
                    <tr class="border-bot">
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">1234</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data"><img class="img-data"
                                        src="./images/iconheader/bag.svg" alt=""></a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Dress Lucie by SBHN</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Simple Product-top</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">S</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Red</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">DLC-123</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$12</div>
                        </td>
                         <td>
                            <div class="data-grid-cell-content css-1">$10</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">23</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content">29/02/2023 14:02:00 </div>
                        </td>
                        <td>
                           <div class="data-grid-cell-content css-1"><a href="#">Edit</a></div>
                        </td>
                    </tr>

                  <tr class="border-bot">
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">1234</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data"><img class="img-data"
                                        src="./images/iconheader/bag.svg" alt=""></a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Dress Lucie by SBHN</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Simple Product-top</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">S</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Red</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">DLC-123</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$12</div>
                        </td>
                         <td>
                            <div class="data-grid-cell-content css-1">$10</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">23</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content">29/02/2023 14:02:00 </div>
                        </td>
                        <td>
                             <div class="data-grid-cell-content css-1"><a href="#">Edit</a></div>
                        </td>
                    </tr>
                    <tr class="border-bot">
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">1234</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data"><img class="img-data"
                                        src="./images/iconheader/bag.svg" alt=""></a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Dress Lucie by SBHN</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Simple Product-top</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">S</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Red</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">DLC-123</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$12</div>
                        </td>
                         <td>
                            <div class="data-grid-cell-content css-1">$10</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">23</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content">29/02/2023 14:02:00 </div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1"><a href="#">Edit</a></div>
                        </td>
                    </tr>
                    <tr class="border-bot">
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">1234</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data"><img class="img-data"
                                        src="./images/iconheader/bag.svg" alt=""></a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content"><a href="#" class="data">Dress Lucie by SBHN</a></div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Simple Product-top</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">S</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">Red</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">DLC-123</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">$12</div>
                        </td>
                         <td>
                            <div class="data-grid-cell-content css-1">$10</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content css-1">23</div>
                        </td>
                        <td>
                            <div class="data-grid-cell-content">29/02/2023 14:02:00 </div>
                        </td>
                        <td>
                             <div class="data-grid-cell-content css-1"><a href="#">Edit</a></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>