<div class="add-product">
    <div class="add-product-wrapper">
        <!--Tilte-->
        <div class="add-product-title">
            <h1>UPDATE PRODUCT</h1>
        </div>

        <div class="add-product-items">

            <form action="#" class="send-form">

                <table class="add-product-item">
                    <tr>
                        <td class="title-item name">
                            <p>Product Name:
                            <p>

                        </td>
                        <td class="value-item name-1">
                            <input type="text">
                            
                        </td>
                    </tr>

                    <tr>
                        <td class="title-item size">
                            <p>Product Size:
                            <p>
                        </td>
                        <td class="size-1">
                            <select name="size" class="select-box">
                                <option value="">Please select size</option>
                                <option value="1">S</option>
                                <option value="2">M</option>
                                <option value="3">L</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-item color">
                            <p>Product Colors:
                            <p>
                        </td>
                        <td class="value-item color-1">
                          <select name="color" class="select-box">
                                <option value="">Please select color</option>
                                <option value="1">Red</option>
                                <option value="2">Orange</option>
                                <option value="3">Yellow</option>
                                <option value="4">Green</option>
                                <option value="5">Blue</option>
                                <option value="6">Purple</option>
                                <option value="7">Black</option>
                                <option value="8">White</option>
                                <option value="9">Gray</option>
                                <option value="10">Full-color</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-item price">
                            <p>Price:
                            <p>
                        </td>
                        <td class="value-item price-1">
                            <input type="text" placeholder="$...">
                        </td>
                    </tr>
                     <tr>
                        <td class="title-item quantity">
                            <p>Quantity:
                            <p>
                        </td>
                        <td class="value-item quantity-1">
                            <input type="text" placeholder="1-100">
                        </td>
                    </tr>
                    <tr>
                        <td class="title-item descrip">
                            <p>Description:
                            <p>
                        </td>
                        <td class="value-item descrip-1">
                            <textarea name="descrip" id="descrip" cols="30" rows="10"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td class="title-item img">
                            <p>Product Images:
                            <p>
                        </td>
                        <td class="value-item img-1">
                            <input type="file" name="image" multiple="multiple">
                            <img class="add-img" src="/images/iconheader/image.svg" alt="">
                            <p class="warning-noti">At least 5 images type .jpeg , .jpg , .png</p>
                        </td>
                    </tr>

                </table>
                <div class="btn-wrapper">
                    <div class="width">
                        <button type="button" class="hover btn-update">Update</button>
                    </div>
                    <div class="width">
                        <button type="button" class="hover btn-detele">Detele</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>