<div class="sz-header-iems-content-wrapper">
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}
    {{> 'products/productItemFs' }}

</div>

<script>
    $('.product-item-slider-small').slick({
        arrows: false,
        autoplaySpeed: 2000,
        autoplay: false,
    });
    
</script>