<div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                    <div class="css-product-item">
                        <a href="/product/view/:id">Dress| Champage so sexy by HN</a>
                        
                    </div>
                    <div class="css-product-item-price">
                        <span class="product-item-price old-price">$20</span>
                        <span class="product-item-price new-price">$18 </span>    
                    </div>
                     <span class="sold">BOUGHT : 10</span>
                     <div class="icon-product ">
                        <div class="coupon">
                            <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                        </div>
                        <div class="wishlish">
                            <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                        </div>
                        <div class="add">
                            <img class="img-icon img-buynow"src="/images/iconheader/white-shopping-bag.svg" alt="btn buy now">
                        </div>
                    </div>
                </div>
</div>