<div class="brand-product-wrapper">
    {{> 'products/productItem' }}
    {{> 'products/productItem' }}
    {{> 'products/productItem' }}
    {{> 'products/productItem' }}
    {{> 'products/productItem' }}
    {{> 'products/productItem' }}
    {{> 'products/productItem' }}
    {{> 'products/productItem' }}
</div>

<script>
    $('.product-item-slider').slick({
        arrows: false,
        autoplaySpeed: 2000,
        autoplay: false,
    });
</script>