<a href="/product/view/:id" class="click-item">
    <div class="product-wrapper-item-small">
        <div class="product-item-slider-small">
        <div class="product-item-img-small product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
        <div class="product-item-img-small"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
        <div class="product-item-img-small"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
        </div>
        <div class="product-item-descrip-small ">
            <div class="css-product-item-small">
                <a href="/product/view/:id">Dress| Champage so sexy by HN</a>
                
            </div>
            <div class="css-product-item-price-small">
                <span class="product-item-price-small old-price-small">$20</span>
                <span class="product-item-price-small new-price-small">$18 </span>    
            </div>
                <div class="icon-product-small ">
                <div class="coupon-small">
                    <a class="img-icon-small voucher-small" href="#">Sale 20%</a>
                </div>
                <div class="wishlish-small">
                    <img class="img-icon-small wishlist-small" src="/images/iconheader/heart.svg" alt="wishlist">
                </div>
                <div class="add-small">
                    <img class="img-icon-small img-buynow-small"src="/images/iconheader/white-shopping-bag.svg" alt="btn buy now">
                </div>
            </div>
        </div>
    </div>
</a>