<div id="catelog-cart">
    <section class="shop container">
        <h2 class="section-title">SECONDHAND</h2>
    </section>
    <!--Shop content-->
   <div class="brand-product">
       <div class="brand-product-wrapper">
            <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                <div class="css-product-item">
                   <h2 class="product-item-name" >COLD-DRESS BLACK WHITE VN-291</p>
                    </div>
                    <div class="css-product-item">
                        <span class="product-item-price">$20</span>
                        <img class="img-buynow"src="/images/iconheader/white-shopping-bag.svg" width="30px" alt="btn buy now">
                    </div>
                </div>
            </div>

              <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product2_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product2_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                <div class="css-product-item">
                   <h2 class="product-item-name" >COLD-DRESS BLACK WHITE VN-291</p>
                    </div>
                    <div class="css-product-item">
                        <span class="product-item-price">$20</span>
                        <img class="img-buynow"src="/images/iconheader/white-shopping-bag.svg" width="30px" alt="btn buy now">
                    </div>
                </div>
            </div>

             <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product3_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product3_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product3_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                <div class="css-product-item">
                   <h2 class="product-item-name" >COLD-DRESS BLACK WHITE VN-291</p>
                    </div>
                    <div class="css-product-item">
                        <span class="product-item-price">$20</span>
                        <img class="img-buynow"src="/images/iconheader/white-shopping-bag.svg" width="30px" alt="btn buy now">
                    </div>
                </div>
            </div>

             <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product5_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product5_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product5_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                <div class="css-product-item">
                   <h2 class="product-item-name" >COLD-DRESS BLACK WHITE VN-291</p>
                    </div>
                    <div class="css-product-item">
                        <span class="product-item-price">$20</span>
                        <img class="img-buynow"src="/images/iconheader/white-shopping-bag.svg" width="30px" alt="btn buy now">
                    </div>
                </div>
            </div>

              <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product4_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product4_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product4_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                <div class="css-product-item">
                   <h2 class="product-item-name" >COLD-DRESS BLACK WHITE VN-291</p>
                    </div>
                    <div class="css-product-item">
                        <span class="product-item-price">$20</span>
                        <img class="img-buynow"src="/images/iconheader/white-shopping-bag.svg" width="30px" alt="btn buy now">
                    </div>
                </div>
            </div>

             <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                <div class="css-product-item">
                   <h2 class="product-item-name" >COLD-DRESS BLACK WHITE VN-291</p>
                    </div>
                    <div class="css-product-item">
                        <span class="product-item-price">$20</span>
                        <img class="img-buynow"src="/images/iconheader/white-shopping-bag.svg" width="30px" alt="btn buy now">
                    </div>
                </div>
            </div>

             <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product7_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product7_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product7_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                <div class="css-product-item">
                   <h2 class="product-item-name" >COLD-DRESS BLACK WHITE VN-291</p>
                    </div>
                    <div class="css-product-item">
                        <span class="product-item-price">$20</span>
                        <img class="img-buynow"src="/images/iconheader/white-shopping-bag.svg" width="30px" alt="btn buy now">
                    </div>
                </div>
            </div>

             <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product6_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product6_1.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                <div class="css-product-item">
                   <h2 class="product-item-name" >COLD-DRESS BLACK WHITE VN-291</p>
                    </div>
                    <div class="css-product-item">
                        <span class="product-item-price">$20</span>
                        <img class="img-buynow"src="/images/iconheader/white-shopping-bag.svg" width="30px" alt="btn buy now">
                    </div>
                </div>
            </div>


    </div>

    </div>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.product-item-slider').slick({
                arrows:false,
                autoplaySpeed:2000,
                autoplay:false,
            });
        });
    </script>

    <script src="{{absoluteUrl}}/js/catelog-cart.js"></script>
