<div class="checkout">
    <div class="checkout-wrapper">
        <div class="checkout-title">
                <h1>CHECKOUT</h1>
        </div>
       <div class="checkout-top-wrapper">
         <div class="checkout-top">
            <div class="cart-top-cart checkout-top-item">
                <i class="fa fa-shopping-cart"  aria-hidden="true"></i>
            </div>
            <div class="cart-top-checkout checkout-top-item">
                <i class="fa fa-map-marker " aria-hidden="true"></i>
            </div>
            <div class="cart-top-payment checkout-top-item">
                <i class="fa fa-money " aria-hidden="true"></i>
            </div>
        </div>
       </div>
    </div>