<div class="information-acccount">

    <div class="container-profile">

        <!-- ASIDE -->
        <aside>
            <div class="profile">
                <div class="profile-photo">
                    <img src="/images/avatar/avatar.jpeg" alt="avatar">
                </div>
                <div class="username">
                    <h5>Xrnhy2910129</h5>
                    <div class="edit">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <p>Edit profile</p>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <a href="#" class="sidebar-opt active">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <h4>My account</h4>
                </a>
                <a href="#" class="sidebar-opt">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <h4>My order</h4>
                </a>
            </div>
        </aside>
        <!-- END ASIDE -->

          <!-- SECTION RIGHT-->
          <section class="right">
                <div class="form-right">
                    <div class="form-right-tilte">
                        <h2>My Profile</h2>
                        <p>Manage profile information for account security.</p>
                    </div>
                    <div class="form-right-content">
                            <div class="form-left">
                                 <form action="" class="form-infor">
                                    <table class="tb-infor-account">
                                        <tr>
                                            <td class="user-1 ">
                                                <p>Username<p>
                                            </td>
                                            <td class="user-1-1">
                                                <p >Xrnhy2910129</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="user-1 ">
                                                <p>Name<p>
                                            </td>
                                            <td class="user-1-1">
                                                <input type="text" placeholder="Thanh Nhy">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="user-1">
                                                <p>Email</p>
                                            </td>
                                            <td class="user-1-1">
                                                <div class="email-1">
                                                    <div class="email-1-1">xr*******@gmail.com</div>
                                                    <button class="change-btn">Change</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="user-1">
                                                <p>Phone</p>
                                            </td>
                                            <td class="user-1-1">
                                                <div class="email-1">
                                                    <div class="email-1-1">0898**888*</div>
                                                    <button class="change-btn">Change</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="user-1">
                                               <p>Gender</p>
                                            </td>
                                            <td class="user-1-1">
                                                    <input checked="checked" name="gender" type="radio" value="Man" /> Man
                                                    <input name="gender" type="radio" value="Woman" /> Woman
                                                    <input name="gender" type="radio" value="Others" /> Other  
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="user-1">
                                               <p>Birthday</p>
                                            </td>
                                            <td class="user-1-1">
                                                    <input type="date" name="bday">
                                            
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="user-1">
                                            </td>
                                            <td class="user-1-1-1">
                                                 <button type="button" class="btn btn-solid-primary btn--m btn--inline" aria-disabled="false">Lưu</button>
                                            </td>
                                        </tr>
                                    </table>
                                 </form>
                            </div>
                            <div class="form-right">
                                <div class="form-right-wrapper">
                                    <div class="img-wrapper">
                                        <div class="img-bg" style="background-image: url(/images/avatar/avatar.jpeg);">
                                        </div>
                                    </div>
                                    <input class="note" type="file" accept=".jpg,.jpeg,.png">
                                    <button type="button" class="btn btn-light btn--m btn--inline">Select Image</button>
                                    <div class="warning">
                                        <div class="noti">Maximum capacity: 1 MB</div>
                                        <div class="noti">Format:.JPEG, .PNG</div>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                </div>
          </section>
          <!-- END SECTION RIGHT -->
    </div>
</div>

<!-- ============================= END DIV ACCOUNT INFORMATION =================================== -->

<div class="my-order">

</div>