<div id="login-page">
    <div class="box-form">
        <div class="left">
            <div class="overlay">
            <h1>Sprezza</h1>
            <p>Fashion is what you adopt when you don't know who you are.</p>
            <span>
                <p>login with social media</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i> Login with Google</a>
            </span>
            </div>
        </div>
        
        
            <div class="right">
            <h5>Login</h5>
            <p>Don't have an account? <a href="/account/register">Creat Your Account</a> it takes less than a minute</p>
            <div class="inputs">
                <input type="text" placeholder="Enter your email">
                <br>
                <input type="password" placeholder="Password">
            </div>
                
                <br><br>
                
            <div class="remember-me--forget-password">
                    <!-- Angular -->
        <label>
            <input type="checkbox" name="item" checked/>
            <span class="text-checkbox">Remember me</span>
        </label>
                <p>Forget password?</p>
            </div>
                
                <br>
                <button>Login</button>
        </div>
        
    </div>
</div>