<div class="shop-page__wrapper">
    <div class="shop-page">
     <!--Myshop-title-->
        <div class="shop-page__title">
            <h1>MY Shop</h1>
        </div>
        <div class="shop-page__info">

        </div>
    </div>
</div>