<div id="shop-page">
    <div  role="main" class="shop-page__wrapper css-container">
        <div class="shop-page__info">
            <div class="section-seller-overview-horiz pad-20 css-container">
                <div class="section-seller__leading-left">
                    <div class="section-seller-overview-horizontal__leading-background">
                        <img src="/images/avatar/avatar_green.jpeg" alt="#">
                    </div>
                    <div class="section-seller-overview-horizontal__leading-background-mask"></div>
                    <div class="section-seller-overview-horizontal__leading-content">
                        <div class="section-seller-overview-horiz-portrait SZDPBG1">
                            <a class="section-seller-overview-horiz-portrait-link">
                                <div class="sz-avatar SZwePd">
                                    <img class="sz-avatar__img" src="/images/avatar/avatar.jpeg">
                                </div>
                            </a>
                            <div class="section-seller-overview-horiz-portrait-info">
                                <h1 class="section-seller-overview-horiz-portrait-name">EL REVER FASHION aaa bbb ccc dddddddddddd </h1>
                                <div class="section-seller-overview-horiz-portrait-status">
                                    <div class="section-seller-overview-horiz-portrait__active-time">
                                        Active 1 min ago
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-seller-overview-horiz-button">
                            <a class="section-seller-overview-horizontal__button section-seller-overview-horizontal__button--following">
                                <button class="shopee-button-outline shopee-button-outline--complement shopee-button-outline--fill css-text-pink">following</button>
                            </a>
                            <a argettype="chatButton" class="section-seller-overview-horizontal__button">
                                <button class="shopee-button-outline shopee-button-outline--complement shopee-button-outline--fill css-text-white">
                                    <span class="section-seller-overview-horizontal__icon">
                                       <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    </span>chat
                                </button>
                            </a>
                        </div>
                      
                    </div>
                </div>
                <div class="section-seller__leading-right__info-list">
                    <div class="section-seller-overview__item section-seller-overview__item--clickable">
                        <div class="section-seller-overview__item-icon-wrapper">
                            <i class="fa fa-archive" aria-hidden="true"></i>
                        </div>
                        <div class="section-seller-overview__item-text">
                            <div class="section-seller-overview__item-text-name">products&nbsp;</div>
                            <div class="section-seller-overview__item-text-value">3,9k</div>
                        </div>
                    </div>
                    <div class="section-seller-overview__item ">
                        <div class="section-seller-overview__item-icon-wrapper">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="section-seller-overview__item-text">
                            <div class="section-seller-overview__item-text-name">Rating&nbsp;</div>
                            <div class="section-seller-overview__item-text-value"> 4.9 (479,7k rating)</div>
                        </div>
                    </div>
                    <div class="section-seller-overview__item section-seller-overview__item--clickable">
                        <div class="section-seller-overview__item-icon-wrapper">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="section-seller-overview__item-text">
                            <div class="section-seller-overview__item-text-name">Joined&nbsp;</div>
                            <div class="section-seller-overview__item-text-value">3 days ago</div>
                        </div>
                    </div>
                    <div class="section-seller-overview__item section-seller-overview__item--clickable">
                        <div class="section-seller-overview__item-icon-wrapper">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <div class="section-seller-overview__item-text">
                            <div class="section-seller-overview__item-text-name">Following&nbsp;</div>
                            <div class="section-seller-overview__item-text-value">0</div>
                        </div>
                    </div>
                    <div class="section-seller-overview__item section-seller-overview__item--clickable">
                        <div class="section-seller-overview__item-icon-wrapper">
                           <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="section-seller-overview__item-text">
                            <div class="section-seller-overview__item-text-name">Follower:&nbsp;</div>
                            <div class="section-seller-overview__item-text-value">3,9k</div>
                        </div>
                    </div>
                    <div class="section-seller-overview__item section-seller-overview__item--clickable">
                        <div class="section-seller-overview__item-icon-wrapper">
                         <i class="fa fa-comment" aria-hidden="true"></i>
                        </div>
                        <div class="section-seller-overview__item-text">
                            <div class="section-seller-overview__item-text-name">Chat Performance&nbsp;</div>
                            <div class="section-seller-overview__item-text-value">98% (with in 1 hours)</div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="shop-page__menu">
            <div class="navbar-with-more-menu navbar-with-more-menu--narrow">
                <div class="css-container navbar-with-more-menu-wrapper navbar-with-more-menu-wrapper--no-shadow " style="background-color: rgb(255, 255, 255);">
                    <div class="navbar-with-more-menu__items">
                        <a class="navbar-with-more-menu__item navbar-with-more-menu__item--active" href="/myshop/myshop"><span>Home</span></a>
                        <a class="navbar-with-more-menu__item" href="/myshop/myshop"><span>ALL PRODUCT</span></a>
                        <a class="navbar-with-more-menu__item" href="/myshop/myshop"><span>SALE</span></a>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="sz-collection-view css-container">

            
            <div class="sz-section-simple">
                <div class="sz-section-simple__header">
                    <div class="sz-section-simple__header__title">RECOMMENDED FOR YOU </div>
                    <a class="k-uwoE UR+0VK" href="#">
                    View All<i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
                </div>
                <div class="sz-section-simple__content">
                       {{> 'products/productFlash'}}
                </div>
            </div>

            
            
        </div>
            <!--Home-->
        <div class="option-home-section">
             <div class="brand-slider-shop">
                <div class="brand"><img src="/img_slider/image-slider_brand/brand1.jpeg" alt=""></div>
                <div class="brand"><img src="/img_slider/image-slider_brand/brand2.jpeg" alt=""></div>
                <div class="brand"><img src="/img_slider/image-slider_brand/brand3.jpeg" alt=""></div>
                <div class="brand"><img src="/img_slider/image-slider_brand/brand4.jpeg" alt=""></div>
                <div class="brand"><img src="/img_slider/image-slider_brand/brand5.jpeg" alt=""></div>
            </div>
        </div>
        <!--All Product-->
        
        <!--Voucher + Sale-->

        </div>
    </div>
</div>
<script>
     $('.brand-slider-shop').slick({
                infinite: true,
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 3
            });
            
</script>


  