<div id="shop-page">
    <div  role="main" class="shop-page__wrapper">
        <div class="shop-page__info">
            <div class="section-seller-overview-horiz pad-20 css-container">
                <div class="section-seller__leading-left">
                    <div class="section-seller-overview-horizontal__leading-background">
                        <img src="/images/avatar/avatar_green.jpeg" alt="#">
                    </div>
                    <div class="section-seller-overview-horizontal__leading-background-mask"></div>
                    <div class="section-seller-overview-horizontal__leading-content">
                        <div class="section-seller-overview-horiz-portrait SZDPBG1">
                            <a class="section-seller-overview-horiz-portrait-link">
                                <div class="sz-avatar SZwePd">
                                    <img class="sz-avatar__img" src="/images/avatar/avatar.jpeg">
                                </div>
                            </a>
                            <div class="section-seller-overview-horiz-portrait-info">
                                <h1 class="section-seller-overview-horiz-portrait-name">EL REVER FASHION aaa bbb ccc dddddddddddd </h1>
                                <div class="section-seller-overview-horiz-portrait-status">
                                    <div class="section-seller-overview-horiz-portrait__active-time">
                                        Active 1 min ago
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-seller-overview-horiz-button">
                            <a class="section-seller-overview-horizontal__button section-seller-overview-horizontal__button--following">
                                <button class="shopee-button-outline shopee-button-outline--complement shopee-button-outline--fill css-text-pink">following</button>
                            </a>
                            <a argettype="chatButton" class="section-seller-overview-horizontal__button">
                                <button class="shopee-button-outline shopee-button-outline--complement shopee-button-outline--fill css-text-white">
                                    <span class="section-seller-overview-horizontal__icon">
                                       <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    </span>chat
                                </button>
                            </a>
                        </div>
                        <div class="section-seller-overview-horiz__info-list">
                            <div class="section-seller-overview__item section-seller-overview__item--clickable">
                                <i class="fa fa-archive" aria-hidden="true"></i>
                            </div>
                            <div class="section-seller-overview__item-text">
                                <div class="section-seller-overview__item-text-name">products:&nbsp;</div>
                                <div class="section-seller-overview__item-text-value">3,9k</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-seller__leading-right">
                    
                </div>
            </div>
        </div>
    </div>
</div>