<div class="payment">
    <div class="payment-wrapper">
        <div class="payment-title">
                <h1>PAYMENT</h1>
        </div>
       <div class="payment-top-wrapper">
         <div class="payment-top">
            <div class="cart-top-cart payment-top-item">
                <i class="fa fa-shopping-cart"  aria-hidden="true"></i>
            </div>
            <div class="cart-top-checkout payment-top-item">
                <i class="fa fa-map-marker " aria-hidden="true"></i>
            </div>
            <div class="cart-top-payment payment-top-item">
                <i class="fa fa-money " aria-hidden="true"></i>
            </div>
        </div>
       </div>
    </div>
    
</div>