<div class="payment">
    <div class="payment-wrapper">
        <div class="payment-title">
                <h1>PAYMENT</h1>
        </div>
        <p class="alert"> Please check customer information, cart information before <b>CONFIRMING ORDER</b></p>
       <div class="payment-top-wrapper">
         <div class="payment-top">
            <div class="cart-top-cart payment-top-item">
                <i class="fa fa-shopping-cart"  aria-hidden="true"></i>
            </div>
            <div class="cart-top-checkout payment-top-item">
                <i class="fa fa-map-marker " aria-hidden="true"></i>
            </div>
            <div class="cart-top-payment payment-top-item">
                <i class="fa fa-money " aria-hidden="true"></i>
            </div>
        </div>
       </div>

       <!--Content-->
       <form action="#" method="post">
        <div class="payment-content-wrapper">
                <div class="payment-content row-cart">

                    <!--LEFT-->
                    <div class="payment-content-left">
                        <h3 class="title-address">BILL ORDER</h3>
                        <div class="payment-content-left-order">
                            <div class="payment-content-left-order-wrapper">
                                
                                <div class="payment-top-order">
                                    <i class="fa fa-map-marker " aria-hidden="true"></i>
                                    <p>Address to shipping</p>
                                </div>

                                <div class="address-from-seclect">
                                    <p class="name information-checkout">Nhu Nhy </p>
                                     <p class="phone information-checkout">20012001-01</p>
                                    <p class="address information-checkout">6, Linh Trung Ward, Thu Duc City</p>
                                </div>

                                <div class="item-order">
                                    <div class="checkout-content-right-product-wrapper">
                                                <div class="right-product-detail-wrapper">
                                                    <table class="table-product">
                                                        <tr>
                                                            <td>
                                                                <div class="img-product">
                                                                    <img src="/images/image-product/product7_1.jpeg" alt="product">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="product-name">SHORT-SKIRT JEANS | TANKTOP BLUE</a>
                                                                <div class="product-size-color">
                                                                    <p>Black/XS</p>
                                                                </div>
                                                            </td>
                                                            <td class="price">
                                                                    $ 15.56
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="img-product">
                                                                    <img src="/images/image-product/product7_1.jpeg" alt="product">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="product-name">SHORT-SKIRT JEANS | TANKTOP BLUE</a>
                                                                <div class="product-size-color">
                                                                    <p>Black/XS</p>
                                                                </div>
                                                            </td>
                                                            <td class="price">
                                                                    $ 15.56
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="img-product">
                                                                    <img src="/images/image-product/product7_1.jpeg" alt="product">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="product-name">SHORT-SKIRT JEANS | TANKTOP BLUE</a>
                                                                <div class="product-size-color">
                                                                    <p>Black/XS</p>
                                                                </div>
                                                            </td>
                                                            <td class="price">
                                                                    $ 15.56
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="img-product">
                                                                    <img src="/images/image-product/product7_1.jpeg" alt="product">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="product-name">SHORT-SKIRT JEANS | TANKTOP BLUE</a>
                                                                <div class="product-size-color">
                                                                    <p>Black/XS</p>
                                                                </div>
                                                            </td>
                                                            <td class="price">
                                                                    $ 15.56
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="img-product">
                                                                    <img src="/images/image-product/product7_1.jpeg" alt="product">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="product-name">SHORT-SKIRT JEANS | TANKTOP BLUE</a>
                                                                <div class="product-size-color">
                                                                    <p>Black/XS</p>
                                                                </div>
                                                            </td>
                                                            <td class="price">
                                                                    $ 15.56
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="img-product">
                                                                    <img src="/images/image-product/product7_1.jpeg" alt="product">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="product-name">SHORT-SKIRT JEANS | TANKTOP BLUE</a>
                                                                <div class="product-size-color">
                                                                    <p>Black/XS</p>
                                                                </div>
                                                            </td>
                                                            <td class="price">
                                                                    $ 15.56
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="img-product">
                                                                    <img src="/images/image-product/product7_1.jpeg" alt="product">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="product-name">SHORT-SKIRT JEANS | TANKTOP BLUE</a>
                                                                <div class="product-size-color">
                                                                    <p>Black/XS</p>
                                                                </div>
                                                            </td>
                                                            <td class="price">
                                                                    $ 15.56
                                                            </td>
                                                        </tr>
                                                    </table>

                                                
                                                </div>
                              
                                    </div>
                                    <div class="product-subtotal">
                                      <div class="product-subtotal-checkout form-flex ">
                                            <p class="title-subtotal form-flex-half "> Subtotal : </p>
                                            <p class="price-subtotal form-flex-half text-center ">$ 255.67 </p>   
                                        </div>

                                        <div class="product-subtotal-checkout form-flex ">
                                            <p class="title-ship title-subtotal form-flex-half "> Shipping : </p>
                                            <p class="ship-subtotal form-flex-half text-center ">$3</p>   
                                        </div>

                                        <div class="product-subtotal-checkout form-flex ">
                                            <p class="title-total  title-subtotal form-flex-half "> TOTAL : </p>
                                            <p class="total-price title-total  form-flex-half text-center ">$ 121</p>   
                                        </div>
                                    </div>

                                    <div class="confirm-order">
                                        <a href="#" class="button">CONFIRM</a>
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                                           
                    </div>
                    <!--END LEFT-->


                    <!--RIGHT-->
                    <div class="payment-content-right">
                        <h3 class="title-address">PAYMENT METHODS</h3>
                        <div class="select-payment-methods">
                            <div class="select-payment-methods-wrapper">
                                <div class="select-payment-method">
                                <label>
                                        <input type="radio" name="radio" checked/>
                                        <span>Cash On Delivery</span>
                                </label>
                                <label>
                                        <input type="radio" name="radio"/>
                                        <span>Card</span>
                                </label>
                                <label>
                                        <input type="radio" name="radio"/>
                                        <span>Seza Wallet</span>
                                </label>
                            </div>
                            <div class="show-input-card">
                              
                            </div>
                            <div class="show-input-wallet">

                            </div>
                        </div>

                            
                        </div>
                    </div>
                
                    <!--END RIGHT-->
                </div>
        </div>
       </form>
    </div>
    
</div>