<section class="product">
    <div class="container-product">
        <div class="product-top row-cart">
            <p class="text">Home</p> <span>&#10230; </span> <p class="text">Woman</p> <span>&#10230; </span> <p class="text">New Clothing</p> <span>&#10230; </span>  <p class="text">Black dress highend</p>
        </div>
        <div class="product-content row-cart">
            <!--Product Content Left-->
            <div class="product-content-left row-cart">
                <div class="product-content-left-big-img">
                    <img src="/images/image-product/product5_2.jpeg" alt="Image Product of Cart">
                </div>
                <div class="product-content-left-small-img">
                    <img src="/images/image-product/product5_1.jpeg" alt="Image Product of Cart">
                    <img src="/images/image-product/product5_2.jpeg" alt="Image Product of Cart">
                    <img src="/images/image-product/product5_2.jpeg" alt="Image Product of Cart">
                    <img src="/images/image-product/product5_1.jpeg" alt="Image Product of Cart">
                </div>
            </div>
            <!--End Product Content Left-->
            <!--Product Content Right-->
            <div class="product-content-right">
                   <div class="product-content-right-product-name">
                        <h1>MY CHAMPAGE | DRESS IN SUMMER BY SBHN</h1>
                        <p>ID : 0001DR</p>
                   </div>  

                   <div class="product-content-right-product-price">
                        <span class="product-price">$32</span>
                        <!--<p>1.500.000<sup>d</sup></p>-->
                   </div>   

                   <div class="product-content-right-product-color-img row-cart">
                        <img src="/images/image-color/spcolor1.jpeg" alt="pinkcolor">
                        <img src="/images/image-color/spcolor3.jpeg" alt="balckcolor">
                  </div>

                    <div class="product-content-right-product-size">
                        <p>SIZE GUIDE<p>
                        <div class="size">
                            <span>S</span>
                            <span>M</span>
                            <span>L</span>
                            <span>XL</span>
                        </div>
                    </div>
                    <div class="quantity">
                        <p style="font-weight: bold;">Quantity: </p>
                        <input type="number" min="0" value="1">
                       
                    </div>
                    <p class="alert-size"
                    style="color:rgb(229, 62, 62)">Size can't blank,please!</p>
                    <div class="product-btn-buy">
                        <button><i class="fa fa-shopping-cart" aria-hidden="true"></i><p>CHECKOUT</p></button>
                    </div>
                    <div class="product-content-right-bottom">
                        <div class="product-content-right-bottom-top">
                            &#8744;
                        </div>
                        <div class="product-content-right-bottom-content-big">
                            <div class="product-content-right-bottom-content-title row-cart">
                                <div class="product-content-right-bottom-content-title-item">
                                    <p>Detail</p>
                                </div>
                                <div class="product-content-right-bottom-content-title-item">
                                     <p>Size Guide</p>
                                </div>
                                <div class="product-content-right-bottom-content-title-item">
                                     <p>Description</p>
                                </div>
                            </div>

                            <div class="product-content-right-bottom-content">
                                <div class="product-content-right-bottom-content-detail">
                                    Made in the Clothius factory in Portugal. You can read about the factories on our 'Sustainability Page’.<br>

Product Bag is 100% compostable and degradable.<br> Product Carton is 100% FSC* paper or 100% Recycled Mailer.<br> We encourage recycling and reusing our boxes.
                                </div>
                                <div class="product-content-right-bottom-content-sizeguide">
                                    <img src="/images/Image/sizeguide.png" alt="Size guide">
                                    <p>BUST: Take measurement around the fullest part.
WAIST: Measure around the natural waistline (find the natural crease by bending to one side)<br>
HIPS: Feet together, measure around the fullest part.<br>

INSIDE LEG: Run the tape measure from the top of the inside leg at the crotch to the ankle bone.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            <!--End Product Content Right-->
        </div>
    </div>

</section>