<div class="product">
    <div class="product-top row-cart text-align-left color">
        <p class="text">Home</p> <span>&#10230; </span>
        <p class="text">Woman</p> <span>&#10230; </span>
        <p class="text">New Clothing</p> <span>&#10230; </span>
        <p class="text">Black dress highend</p>
    </div>

    <div class="container-product">

        <div class="product-content row-cart">
            <!--Product Content Left-->
            <div class="product-content-left row-cart">
                <div class="product-content-left-big-img">
                    <img src="/images/image-product/product5_2.jpeg" alt="Image Product of Cart">
                </div>
                <div class="product-content-left-small-img">
                    <img class="img-small" src="/images/image-product/product5_1.jpeg" alt="Image Product of Cart">
                    <img class="img-small" src="/images/image-product/product5_2.jpeg" alt="Image Product of Cart">
                    <img class="img-small" src="/images/image-product/product5_2.jpeg" alt="Image Product of Cart">
                    <img class="img-small" src="/images/image-product/product5_1.jpeg" alt="Image Product of Cart">
                </div>
            </div>
            <!--End Product Content Left-->
            <!--Product Content Right-->
            <div class="product-content-right">
                <div class="product-content-right-product-name mg-bot">
                    <h1>MY CHAMPAGE | DRESS IN SUMMER BY SBHN</h1>
                    <p>ID : 0001DR</p>
                </div>

                <div class="flex flex-column +o886E mg-bot">
                    <div class="flex items-center">
                        <div class="flex items-center nmrSND">
                            <div class="Y3DvsN">₫499.000</div>
                            <div class="flex items-center">
                                <div class="pqTWkA">₫369.000</div>
                                <div class="_0voski">26% giảm</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-content-right-product-color-img row-cart mg-bot">
                    <img src="/images/image-color/spcolor1.jpeg" alt="pinkcolor">
                    <img src="/images/image-color/spcolor3.jpeg" alt="balckcolor">
                </div>

                <div class="product-content-right-product-size mg-bot">
                    <p>SIZE GUIDE
                    <p>
                    <div class="size">
                        <span class="size-hover">S</span>
                        <span class="size-hover"> M</span>
                        <span class="size-hover">L</span>
                        <span class="size-hover">XL</span>
                        <span class="size-hover">...</span>
                    </div>
                </div>
                <div class="quantity mg-bot">
                    <p class="gap" style="font-weight: bold;">Quantity: </p>
                    <input type="number" min="0" value="1">

                </div>
                <p class="alert-size" style="color:rgb(229, 62, 62)">Size can't blank,please!</p>
                <div class="product-btn-buy-wrapper">
                    <div class="product-btn-buy mg-bot">
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <p>ADD TO CART</p>
                        </a>
                    </div>
                    <div class="product-btn-buy mg-bot">
                        <a href="#">
                            <p>BUY NOW</p>
                        </a>
                    </div>
                </div>


                <!--End Product Content Right-->
            </div>
        </div>
    </div>
    <section class="flash-sale-wrapper">
        <div class="flash-sale m-p-css">
            <div class="img-fs-wrapper">
                <div class="img-fs">
                    <img src="/images/iconheader/flash-sale.jpeg" alt="" class="img-title">
                </div>
                <div class="FsAt __FsAtT _0voski-1">Buy 2 sale 3%</div>
                <div class="FsAt __FsAtT _0voski-1">Buy 3 sale 7%</div>
                <a class="k-uwoE UR+0VK" href="#">
                    View All<i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>

            </div>
             <div class="sz-header-iems-content">
               
                    {{> 'products/productFlash'}}
                
            </div>
    </section>
    <section class="infor-wrapper">
        <div class="store-wrapper">
            <div class="rowNL page-product__shop">
                <div class="shop-intro">
                    <a href="#" class="link-store">
                        <div class="sz-avatar szNL ">
                            <div class="sz-avatar_placeholder">
                                <div class="avatar-big">
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="shop-rate">

                </div>
            </div>
        </div>
        <div class="detail-product-wrapper">

        </div>
    </section>

</div>

 <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
   
