<div id="register-page">
    <div class="box-form">
        <div class="left">
            <div class="overlay">
            <h1 class="css-store">Sprezza</h1>
            <p>Fashion is what you adopt when you don't know who you are.</p>
            
            </div>
        </div>
        
        
            <div class="right">
            <h5>Register</h5>
            <div class="inputs">
                <input type="text" placeholder="Shop Name : ">
                <br>
                <input type="text" placeholder="Shop Address">
                <br>
                <input type="text" placeholder="Enter your email">
                <br>
                <input type="password" placeholder="Password">
                <br>
                <select name="size" class="select-box">
                    <option value="">Please select type </option>
                    <option value="1">New Clothes</option>
                    <option value="2">Seconhand</option>
                    <option value="3">Both</option>
                </select>
            </div>
                
                <br><br>
                
                
                <br>
                <button>Register</button>
        </div>
        
    </div>
</div>