<div id="register-page">
    <div class="box-form">
        <div class="left">
            <div class="overlay">
            <h1>Sprezza</h1>
            <p>Sigh Up to become Seller !!</p>
            </div>
        </div>
        
        
            <div class="right">
            <h5 style="color: red" >Register</h5>
            <div class="inputs">
                <input type="text" placeholder="Enter your shopname">
                <br>
                <input type="text" placeholder="Enter your address">
                <br>
                <input type="password" placeholder="Password">
            </div>
                
                <br><br>
                
                
                <br>
                <button>Register</button>
        </div>
        
    </div>
</div>