<div id="register-page">
    <div class="box-form">
        <div class="left">
            <div class="overlay">
            <h1>Sprezza</h1>
            <p>Fashion is what you adopt when you don't know who you are.</p>
            <span>
                <p>Register with social media</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i> Login with Google</a>
            </span>
            </div>
        </div>
        
        
            <div class="right">
            <h5>Register</h5>
            <p>You Already have an account? <a href="#">Log in </a>now !</p>
            <div class="inputs">
                <input id="fullname" class="fullname" type="text" placeholder="Enter your name">
                <br>
                <input id="birthday" type="datetime" placeholder="Your birthday">
                <br>
                <input id="email" type="text" placeholder="Enter your email">
                <br>
                <input id="password" type="password" placeholder="Password">
            </div>
                
                <br><br>
                
                
                <br>
                <button>Register</button>
        </div>
        
    </div>
</div>