<div id="catelog-cart">

    <section class="shop container">
        <h2 class="section-title">SECONDHAND</h2>
    </section>

    <form action="#" class="form-filter">
        <div class="filter">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Product arrangements</button>
                <div id="myDropdown" class="dropdown-content">
                
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <a href="">Low to high price</a>
                    <a href="">High to low price</a>
                    <a href="">Best Seller</a>
                    <a href="">Lastest Product</a>
                    <a href="">Secondhand</a>
                    <a href="">T-shirt</a>
                    <a href="">Dress</a>
                    <a href="">Pant</a>
                </div>
            </div>  
            <div class="filter-btn">
        <input type="submit" name="submit">
    </div>
    </div>
    
    
</form>


<!--Shop content-->
<div class="brand-product">
    <div class="brand-product-wrapper">
        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-wrapper-item">
            <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg"
                        alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
            </div>
            <div class="product-item-descrip ">
                <div class="css-product-item">
                    <a href="/product/view/:id">Dress| Champage so sexy by HN</a>

                </div>
                <div class="css-product-item-price">
                    <span class="product-item-price old-price">$20</span>
                    <span class="product-item-price new-price">$18 </span>
                </div>
                <span class="sold">BOUGHT : 10</span>
                <div class="icon-product ">
                    <div class="coupon">
                        <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                    </div>
                    <div class="wishlish">
                        <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                    </div>
                    <div class="add">
                        <img class="img-icon img-buynow" src="/images/iconheader/white-shopping-bag.svg"
                            alt="btn buy now">
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


</div>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).ready(function () {
        $('.product-item-slider').slick({
            arrows: false,
            autoplaySpeed: 2000,
            autoplay: false,
        });
    });
</script>
