<div id="catelog-cart">

    <section class="shop container">
        <h2 class="section-title">SECONDHAND</h2>
    </section>
<!--
    <form action="#" class="form-filter">
        <div class="filter">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Product arrangements</button>
                <div id="myDropdown" class="dropdown-content">
                
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <a href="">Low to high price</a>
                    <a href="">High to low price</a>
                    <a href="">Best Seller</a>
                    <a href="">Lastest Product</a>
                    <a href="">Secondhand</a>
                    <a href="">T-shirt</a>
                    <a href="">Dress</a>
                    <a href="">Pant</a>
                </div>
            </div>  
            <div class="filter-btn">
        <input type="submit" name="submit">
    </div>
    </div>
    
    
</form>
-->

<!--Shop content-->

    <div class="sz-container sz-container-flex mgTop-20 ">
        <div class="sz-filter-panel">
            <div class="sz-cate-list">
                <a href="#" class="sz-cate-list__header">
                    <i class="fa fa-bars css-icon all-icon-cate" aria-hidden="true"></i>
                    All Catelog
                </a>

                <div class="sz-cate-list__body">
                    <div class="sz-cate-list__category">
                        <div class="sz-category-list__main-category sz-category-list__main-category--active">
                            <a class="sz-category-list__main-category__link" href="#">
                            <i class="fa fa-caret-right mg-right icon-active" aria-hidden="true"></i>Man</a>
                        </div>
                        <div class="folder-items sub-category-list folder-items-folded ">
                                <a href="#" class="list-sub__category"><i class="fa fa-caret-right mg-right icon-off" aria-hidden="true"></i>Woman</a>
                                <a href="#" class="list-sub__category"><i class="fa fa-caret-right mg-right icon-off" aria-hidden="true"></i>Pant</a>
                                <a href="#" class="list-sub__category"><i class="fa fa-caret-right mg-right icon-off" aria-hidden="true"></i>T-shirt</a>
                                <a href="#" class="list-sub__category"><i class="fa fa-caret-right mg-right icon-off" aria-hidden="true"></i>Jacket</a>
                                <a href="#" class="list-sub__category"><i class="fa fa-caret-right mg-right icon-off" aria-hidden="true"></i>New Clothes</a>
                                <a href="#" class="list-sub__category"><i class="fa fa-caret-right mg-right icon-off" aria-hidden="true"></i>Secondhand</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sz-filter-search SZFT-1">
                <i class="fa fa-filter css-icon all-icon-cate " aria-hidden="true"></i>
                <div class="sz-filter-search__text">Filter Search</div>
            </div>
            <div class="sz-filter-group sz-facet-filter">
                <div class="sz-filter-group__header">By Category</div>
                <div class="folder-items sz-filter-group__body folder-items-folded ">
                    <div class="sz-filter sz-checkbox-filter">
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">T-Shirt (30k+)</span>
                            </p>
                        </div>
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">Hoodies (100+)</span>
                            </p>
                        </div>
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">Somi (90+)</span>
                            </p>
                        </div>
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">Pant (10+)</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sz-filter-group sz-facet-filter">
                <div class="sz-filter-group__header">Shipped from </div>
                <div class="folder-items sz-filter-group__body folder-items-folded ">
                    <div class="sz-filter sz-checkbox-filter">
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">Ho Chi Minh</span>
                            </p>
                        </div>
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">Ha Noi</span>
                            </p>
                        </div>
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">Da Lat</span>
                            </p>
                        </div>
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">Da Nang</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sz-filter-group sz-facet-filter">
                <div class="sz-filter-group__header">Brands</div>
                <div class="folder-items sz-filter-group__body folder-items-folded ">
                    <div class="sz-filter sz-checkbox-filter">
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">Dirty Coin</span>
                            </p>
                        </div>
                        
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">D & G</span>
                            </p>
                        </div>
                    
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">Dior</span>
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
             <div class="sz-filter-group sz-facet-filter">
                <div class="sz-filter-group__header">Condition</div>
                <div class="folder-items sz-filter-group__body folder-items-folded ">
                    <div class="sz-filter sz-checkbox-filter">
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">Used</span>
                            </p>
                        </div>
                        
                        <div class="sz-checkbox">
                            <p class="sz-checkbox__control">
                                <input type="checkbox" name="" value="100244">
                                <div class="sz-checkbox__box">
                                    <i>&ensp;</i>
                                </div>
                                <span class="sz-checkbox__label">New with tag</span>
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="btn-apply">
                <button class="bt-css">Apply</button>
                <button class="bt-css">Clear</button>
            </div>
        </div>

        <div role="main" class="SZrsSI">
            <div class="sz-search-items-result">
                <div class="sz-soft-bar">
                    <span class="sz-soft-bar__label">Sort by</span>
                    <div class="sz-sort-by-options">
                        <div class="sz-sort-by-options__option sz-sort-by-options__option--selected">Popular</div>
                        <div class="sz-sort-by-options__option css-font-color">Latest</div>
                        <div class="sz-sort-by-options__option css-font-color">Top Sales</div>
                    </div>
                </div>

                <div class="sz-search-items-result_items">
                      {{> 'products/product-sellpage'}}
                </div>
                <div class="N2tvQs">
                    <div class="sz-page-controller">
                        <button class="sz-icon-button sz-icon-button--left ">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </button>
                        <button class="sz-button-solid sz-button-solid--primary">1</button>
                        <button class="sz-button-no-outline">2</button>
                        <button class="sz-button-no-outline">3</button>
                        <button class="sz-button-no-outline">4</button>
                        <button class="sz-button-no-outline">5</button>
                        <button class="sz-button-no-outline sz-button-no-outline--non-click">...</button>
                        <button class="sz-icon-button sz-icon-button--right ">
                           <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/sellpage.js"></script>

<script>
    $(document).ready(function () {
        $('.product-item-slider').slick({
            arrows: false,
            autoplaySpeed: 2000,
            autoplay: false,
        });
    });
</script>
