<div id="catelog-cart">

    <section class="shop container">
        <h2 class="section-title">SECONDHAND</h2>
    </section>
<!--
    <form action="#" class="form-filter">
        <div class="filter">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Product arrangements</button>
                <div id="myDropdown" class="dropdown-content">
                
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <a href="">Low to high price</a>
                    <a href="">High to low price</a>
                    <a href="">Best Seller</a>
                    <a href="">Lastest Product</a>
                    <a href="">Secondhand</a>
                    <a href="">T-shirt</a>
                    <a href="">Dress</a>
                    <a href="">Pant</a>
                </div>
            </div>  
            <div class="filter-btn">
        <input type="submit" name="submit">
    </div>
    </div>
    
    
</form>
-->

<!--Shop content-->

    <div class="sz-container sz-container-flex mgTop-20 ">
        <div class="sz-filter-panel">
            <div class="sz-cate-list">
                <a href="#" class="sz-cate-list__header">
                    <i class="fa fa-bars css-icon all-icon-cate" aria-hidden="true"></i>
                    All Catelog
                </a>

                <div class="sz-cate-list__body">
                    <div class="sz-cate-list__category">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).ready(function () {
        $('.product-item-slider').slick({
            arrows: false,
            autoplaySpeed: 2000,
            autoplay: false,
        });
    });
</script>
