<div id="success-order">
    <div class="success-order-wrapper">
        <div class="order-confirmation">
            <h2 class="title-thanks">Thanks you for your order
                <i class="fa fa-heart" aria-hidden="true"></i>
            </h2>
            <div class="content-thanks">
                <div class="id-order">
                    <p class="css-p">ID Order : </p>
                    <a href="#" class="css-p-numb">#SZ1245</a>
                </div>
                <div class="remind-order">
                    Dear, valued Customer  <i class="fa fa-heart css-color-text" aria-hidden="true"></i></br>
                    Please prepare <a href="# "class="money-order">$234</a> on arrival day.
                </div>
                <div class="shop-name">
                    SPREZZA 
                </div>
            </div>
        </div>
    </div>
</div>