/*  Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Mono:wght@500&family=Source+Code+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 101vh; }

html {
  font-family: monospace, "Courier New", Courier; }

#homepage {
  min-height: 300vh; }

#header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-image: linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%); }
  #header li {
    font-size: 15px;
    list-style: none; }

#fullnav {
  display: flex;
  padding: 0 10px; }
  #fullnav li {
    display: inline-block;
    position: relative; }

#left_nav li a {
  color: #000;
  text-decoration: none;
  line-height: 80px;
  padding: 0 12px;
  text-transform: uppercase;
  display: block;
  text-align: center; }

#left_nav li:hover .subnav {
  display: block; }

#left_nav > ul > li > a {
  height: 50px; }

.menu > li:hover > a {
  border-bottom: 1px solid black; }

.menu .menunav {
  height: 80px; }

#left_nav .subnav {
  width: 200px; }
  #left_nav .subnav li {
    width: 100%; }
    #left_nav .subnav li:hover a {
      color: white;
      background-color: rgba(0, 0, 0, 0.3); }
    #left_nav .subnav li a {
      width: 100%;
      text-align: left; }

#fullnav .subnav {
  top: 80px;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

#left_nav .subnav a {
  color: #000;
  padding: 0 6px;
  line-height: 40px; }

#fullnav #left_nav {
  width: 40%; }

#fullnav #main_logo {
  width: 20%;
  height: 80px; }
  #fullnav #main_logo img {
    padding: auto; }

#fullnav #search_nav {
  width: 20%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center; }

.search {
  margin: 20px; }
  .search > div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 2px #000000); }
    .search > div:after {
      content: "";
      background: #000;
      width: 4px;
      height: 10px;
      position: absolute;
      top: 21px;
      right: 0px;
      transform: rotate(150deg); }
    .search > div > input {
      color: black;
      font-size: 10px;
      width: 25px;
      height: 25px;
      padding: 10px;
      border: solid 1px black;
      outline: none;
      border-radius: 35px;
      transition: width 0.5s; }
      .search > div > input::placeholder {
        color: gray;
        opacity: 0;
        transition: opacity 100ms ease-out; }
      .search > div > input:focus {
        width: 200px; }
        .search > div > input:focus::placeholder {
          opacity: 1; }
      .search > div > input:not(:placeholder-shown) {
        width: 200px; }

#right_nav {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: flex-end; }
  #right_nav ul {
    display: flex;
    align-items: center; }
  #right_nav img {
    width: 30px;
    height: 30px; }
  #right_nav icon {
    cursor: pointer; }
  #right_nav #img-buynow {
    cursor: pointer; }

#fullnav #right_nav li a {
  padding: 0 12px;
  display: block; }

#slider-container {
  margin-top: 80px;
  width: 100%; }
  #slider-container .item {
    height: 700px; }
    #slider-container .item img {
      height: 100%;
      width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto; }

#section-below-header {
  width: 100%;
  height: 300px;
  margin-top: 80px; }

.home-category-list {
  width: 1300px;
  height: 300px;
  margin: auto;
  border: 2px solid gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.category-name {
  border-bottom: 2px solid gray; }
  .category-name a {
    text-decoration: none;
    color: #342f2f;
    line-height: 40px;
    font-size: x-large;
    margin-left: 100px; }

.category-wrapper {
  display: flex;
  flex-wrap: wrap; }
  .category-wrapper .category-item {
    width: 216px;
    height: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }

.category-item .item-img {
  height: 50px;
  margin-right: 0; }
  .category-item .item-img img {
    height: 100%; }

.category-item .item-descrip {
  margin-top: 15px; }
  .category-item .item-descrip a {
    text-decoration: none;
    color: #000; }

#container {
  min-height: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px; }
  #container .brand-slider {
    width: 1200px;
    height: 600px;
    margin-right: auto;
    margin-left: auto; }
    #container .brand-slider img {
      width: 450px;
      height: 500px;
      padding: 0 50px; }
  #container .brand-product {
    width: 100%;
    max-height: 1000px; }

.brand-product .brand-product-wrapper {
  width: 1300px;
  min-height: 500px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap; }

.brand-product .product-wrapper-item {
  width: 280px;
  height: 380px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative; }

.brand-product .product-wrapper-item:hover {
  padding: 5px;
  border: 1px solid gray;
  transition: 0.2s; }

.brand-product .img-buynow {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-image: linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%);
  cursor: pointer;
  padding: 10px; }

.brand-product .img-buynow:hover {
  background: #dbe1eb; }

.product-wrapper-item .product-item-slider {
  width: 100%;
  height: auto; }

.product-item-slider .product-item-img img {
  width: 240px;
  height: 240px;
  padding: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0.5rem;
  margin-left: auto; }

.product-wrapper-item .product-item-descrip {
  width: 240px;
  min-height: 120px;
  margin-right: auto;
  margin-left: auto; }
  .product-wrapper-item .product-item-descrip .product-item-name {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600; }

.product-item-descrip .product-item-price, .product-item-descrip .product-item-name {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center; }

.product-item-descrip .product-item-price {
  font-weight: 500;
  margin-top: 20px; }

#container .contact {
  width: 1200px;
  padding: 80px 0;
  margin-left: auto;
  margin-right: auto; }

#container .contact-heading {
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px; }

#container .sub-contact-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px; }

.contact .form-email-btn {
  margin-top: 80px;
  width: 1200px;
  display: flex; }

#container .contact-send-email .contact form {
  background-color: white;
  width: fit-content;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black; }

.contact form input {
  border: 0;
  outline: none;
  padding: 10px 10px;
  height: 70px;
  width: 400px;
  font-size: 16px; }

.contact form button {
  width: 100px;
  height: 70px;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%); }

#footer {
  height: 30px; }
  #footer .footer-service {
    width: 1300px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto; }
  #footer .footer-logo {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #footer .footer-logo img {
      width: 240px;
      height: 200px; }

.row {
  display: flex;
  flex-wrap: wrap;
  height: 200px; }

col {
  float: left;
  padding-left: 8px;
  padding-right: 8px; }

.col-third {
  width: 33.3333333%; }

.footer-social-media .social-media-img img {
  width: 20px;
  height: 20px;
  margin: 0px 15px; }

.footer-service .img-infor img {
  width: 20px;
  height: 20px;
  margin: 0px 15px; }

.footer-service .infor-service a, .footer-service .img-infor p {
  font-size: 15px;
  color: #000;
  line-height: 2.5; }

.footer-service .infor-service {
  padding: auto; }
  .footer-service .infor-service a {
    text-decoration: none; }
  .footer-service .infor-service li {
    list-style: none; }

.footer-service .img-infor {
  padding: auto; }

.footer-service .wrapper-items-footer {
  margin-top: 80px; }

#footer .footer-social-media {
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%); }

.footer-social-media .social-media-img a {
  height: 50px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto; }

body {
  background-image: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace, "Courier New", Courier;
  color: #333333; }
  body #login-page {
    min-height: 101vh;
    width: 100%; }
  body .box-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 80%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px black; }
    @media (max-width: 980px) {
      body .box-form {
        flex-flow: wrap;
        text-align: center;
        align-content: center;
        align-items: center; } }
    body .box-form div {
      height: auto; }
    body .box-form .left {
      color: #FFFFFF;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("https://get.pxhere.com/photo/background-brand-branding-design-fabric-glitter-glittering-gold-golden-metal-metallic-mockup-product-satin-silk-sparkle-sparkling-surface-textile-texture-textured-wallpaper-black-black-and-white-material-pattern-1433407.jpg");
      overflow: hidden; }
      body .box-form .left .overlay {
        padding: 30px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        box-sizing: border-box; }
        body .box-form .left .overlay h1 {
          font-size: 10vmax;
          line-height: 1;
          font-weight: 900;
          margin-top: 40px;
          margin-bottom: 20px; }
        body .box-form .left .overlay span p {
          margin-top: 30px;
          font-weight: 900; }
        body .box-form .left .overlay span a {
          background: #3b5998;
          color: #FFFFFF;
          margin-top: 10px;
          padding: 14px 50px;
          border-radius: 80px;
          display: inline-block;
          box-shadow: 0 3px 6px 1px #042d4657; }
        body .box-form .left .overlay span a:last-child {
          background: red;
          margin-left: 30px; }
    body .box-form .right {
      padding: 40px;
      overflow: hidden; }
      @media (max-width: 980px) {
        body .box-form .right {
          width: 100%; } }
      body .box-form .right h5 {
        font-size: 6vmax;
        line-height: 0;
        margin-bottom: 50px;
        margin-top: 50px; }
      body .box-form .right p {
        font-size: 14px;
        color: #B0B3B9; }
      body .box-form .right .inputs {
        overflow: hidden; }
      body .box-form .right input {
        width: 100%;
        padding: 10px;
        margin-top: 25px;
        font-size: 16px;
        border: none;
        outline: none;
        border-bottom: 2px solid #B0B3B9; }
      body .box-form .right .remember-me--forget-password {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body .box-form .right .remember-me--forget-password input {
          margin: 0;
          margin-right: 7px;
          width: auto; }
      body .box-form .right button {
        float: right;
        color: #fff;
        font-size: 16px;
        padding: 12px 35px;
        border-radius: 50px;
        display: inline-block;
        border: 0;
        outline: 0;
        box-shadow: 0px 4px 20px 0px gray;
        background-image: linear-gradient(to right, #434343 0%, black 100%); }
  body label {
    display: block;
    position: relative;
    margin-left: 30px; }
  body label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 2px solid black;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear; }
  body label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: black; }
  body label:hover::before .text-checkbox {
    background: gray; }
  body label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear; }
  body label input[type="checkbox"] {
    display: none; }

#catelog-cart {
  margin-top: 80px; }
  #catelog-cart .cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    background-color: white;
    box-shadow: -2px 0 4px gray;
    z-index: 1000;
    padding: 20px; }
    #catelog-cart .cart .cart-tilte {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 2rem; }
    #catelog-cart .cart .cart-box {
      display: grid;
      grid-template-columns: 32% 50% 18%;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem; }
    #catelog-cart .cart .cart-img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      padding: 10px; }
    #catelog-cart .cart .icon-cart {
      width: 16px;
      height: 16px; }
    #catelog-cart .cart .detail-box {
      display: grid;
      row-gap: 0.5rem; }
    #catelog-cart .cart .cart-product-tilte {
      font-size: 1.5 rem;
      text-transform: uppercase; }
    #catelog-cart .cart .cart-price {
      font-weight: 500; }
    #catelog-cart .cart .cart-quantity {
      width: 40px;
      border: 1px solid gray;
      outline-color: black;
      text-align: center;
      font-size: 0.8rem;
      align-items: center;
      border-radius: 30px; }
    #catelog-cart .cart .cart-remove {
      cursor: pointer; }
    #catelog-cart .cart .total {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.5rem;
      border-top: 1px solid black; }
      #catelog-cart .cart .total .total-tilte {
        font-size: 1rem;
        font-weight: 600; }
      #catelog-cart .cart .total .total-price {
        margin-left: 10px; }
    #catelog-cart .cart .btn-buy {
      display: flex;
      width: 100px;
      height: 30px;
      margin: 1.5rem auto 0 auto;
      padding: 12px 20px;
      border: 1px solid black;
      border-radius: 40%;
      background-color: white;
      color: black;
      font-size: 12px;
      font-weight: 700;
      cursor: pointer;
      text-align: center;
      line-height: 5px; }
    #catelog-cart .cart .btn-buy:hover {
      background-color: black;
      color: white; }
    #catelog-cart .cart #cart-close {
      position: absolute;
      top: 1rem;
      right: 0.8rem;
      cursor: pointer; }
  #catelog-cart .container {
    max-width: 101vw;
    width: 100%; }
  #catelog-cart section .section-title {
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center; }
  #catelog-cart .cart.active {
    right: 0; }

.container {
  margin-top: 80px; }

#header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-image: linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%); }
  #header li {
    font-size: 15px;
    list-style: none; }

#fullnav {
  display: flex;
  padding: 0 10px; }
  #fullnav li {
    display: inline-block;
    position: relative; }

#left_nav li a {
  color: #000;
  text-decoration: none;
  line-height: 80px;
  padding: 0 12px;
  text-transform: uppercase;
  display: block;
  text-align: center; }

#left_nav li:hover .subnav {
  display: block; }

#left_nav > ul > li > a {
  height: 50px; }

.menu > li:hover > a {
  border-bottom: 1px solid black; }

.menu .menunav {
  height: 80px; }

#left_nav .subnav {
  width: 200px; }
  #left_nav .subnav li {
    width: 100%; }
    #left_nav .subnav li:hover a {
      color: white;
      background-color: rgba(0, 0, 0, 0.3); }
    #left_nav .subnav li a {
      width: 100%;
      text-align: left; }

#fullnav .subnav {
  top: 80px;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

#left_nav .subnav a {
  color: #000;
  padding: 0 6px;
  line-height: 40px; }

#fullnav #left_nav {
  width: 40%; }

#fullnav #main_logo {
  width: 20%;
  height: 80px; }
  #fullnav #main_logo img {
    padding: auto; }

#fullnav #search_nav {
  width: 20%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center; }

.search {
  margin: 20px; }
  .search > div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 2px #000000); }
    .search > div:after {
      content: "";
      background: #000;
      width: 4px;
      height: 10px;
      position: absolute;
      top: 21px;
      right: 0px;
      transform: rotate(150deg); }
    .search > div > input {
      color: black;
      font-size: 10px;
      width: 25px;
      height: 25px;
      padding: 10px;
      border: solid 1px black;
      outline: none;
      border-radius: 35px;
      transition: width 0.5s; }
      .search > div > input::placeholder {
        color: gray;
        opacity: 0;
        transition: opacity 100ms ease-out; }
      .search > div > input:focus {
        width: 200px; }
        .search > div > input:focus::placeholder {
          opacity: 1; }
      .search > div > input:not(:placeholder-shown) {
        width: 200px; }

#right_nav {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: flex-end; }
  #right_nav ul {
    display: flex;
    align-items: center; }
  #right_nav img {
    width: 30px;
    height: 30px; }
  #right_nav icon {
    cursor: pointer; }

#fullnav #right_nav li a {
  padding: 0 12px;
  display: block; }
