/*  Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 101vh; }

html {
  font-family: monospace, "Space Mono"; }

.container {
  overflow-x: hidden; }

#homepage {
  min-height: 300vh; }

#header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-image: linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%); }
  #header li {
    font-size: 15px;
    list-style: none; }

#fullnav {
  display: flex;
  padding: 0 10px; }
  #fullnav li {
    display: inline-block;
    position: relative; }

#left_nav li a {
  color: #000;
  text-decoration: none;
  line-height: 80px;
  padding: 0 12px;
  text-transform: uppercase;
  display: block;
  text-align: center; }

#left_nav li:hover .subnav {
  display: block; }

#left_nav > ul > li > a {
  height: 50px; }

.menu > li:hover > a {
  border-bottom: 1px solid black; }

.menu .menunav {
  height: 80px; }

#left_nav .subnav {
  width: 200px; }
  #left_nav .subnav li {
    width: 100%; }
    #left_nav .subnav li:hover a {
      color: white;
      background-color: rgba(0, 0, 0, 0.3); }
    #left_nav .subnav li a {
      width: 100%;
      text-align: left; }

#fullnav .subnav {
  top: 80px;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

#left_nav .subnav a {
  color: #000;
  padding: 0 6px;
  line-height: 40px; }

#fullnav #left_nav {
  width: 40%; }

#fullnav #main_logo {
  width: 20%;
  height: 80px; }
  #fullnav #main_logo img {
    padding: auto; }

#fullnav #search_nav {
  width: 20%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center; }

.search {
  margin: 20px; }
  .search > div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 2px #000000); }
    .search > div:after {
      content: "";
      background: #000;
      width: 4px;
      height: 10px;
      position: absolute;
      top: 21px;
      right: 0px;
      transform: rotate(150deg); }
    .search > div > input {
      color: black;
      font-size: 10px;
      width: 25px;
      height: 25px;
      padding: 10px;
      border: solid 1px black;
      outline: none;
      border-radius: 35px;
      transition: width 0.5s; }
      .search > div > input::placeholder {
        color: gray;
        opacity: 0;
        transition: opacity 100ms ease-out; }
      .search > div > input:focus {
        width: 200px; }
        .search > div > input:focus::placeholder {
          opacity: 1; }
      .search > div > input:not(:placeholder-shown) {
        width: 200px; }

#right_nav {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: flex-end; }
  #right_nav ul {
    display: flex;
    align-items: center; }
  #right_nav img {
    width: 30px;
    height: 30px; }
  #right_nav icon {
    cursor: pointer; }
  #right_nav #img-buynow {
    cursor: pointer; }
  #right_nav .menunav .cart-wrap-draw {
    display: flex; }
    #right_nav .menunav .cart-wrap-draw #quatity-in-cart {
      width: 20px;
      height: 20px;
      color: black;
      background-color: white;
      font-size: 12px;
      border: 1px solid black;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      position: relative;
      top: 17px;
      right: 15px; }
  #right_nav li:hover .subnav {
    display: block; }

#fullnav #right_nav li a {
  padding: 0 12px;
  display: block; }

#slider-container {
  margin-top: 80px;
  width: 100%; }
  #slider-container .item {
    height: 700px; }
    #slider-container .item img {
      height: 100%;
      width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto; }

#section-below-header {
  width: 100%;
  height: 300px;
  margin-top: 80px; }

.home-category-list {
  width: 90vw;
  height: 300px;
  margin: auto;
  border: 2px solid gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.category-name {
  border-bottom: 2px solid gray; }
  .category-name a {
    text-decoration: none;
    color: #342f2f;
    line-height: 40px;
    font-size: x-large;
    margin-left: 100px; }

.category-wrapper {
  display: flex;
  flex-wrap: wrap; }
  .category-wrapper .category-item {
    width: 210px;
    height: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }

.category-item .item-img {
  height: 50px;
  margin-right: 0; }
  .category-item .item-img img {
    height: 100%; }

.category-item .item-descrip {
  margin-top: 15px; }
  .category-item .item-descrip a {
    text-decoration: none;
    color: #000; }

#container {
  min-height: 1000px;
  width: 101vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px; }
  #container .brand-slider {
    width: 100%;
    height: 600px;
    margin-right: auto;
    margin-left: auto; }
    #container .brand-slider img {
      width: 450px;
      height: 500px;
      padding: 0 50px; }
  #container .brand-product {
    width: 100%;
    height: auto; }

.brand-product .brand-product-wrapper {
  width: 1300px;
  min-height: 500px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap; }

.brand-product .product-wrapper-item {
  width: 280px;
  max-width: 280px;
  height: 380px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative; }

.brand-product .product-wrapper-item:hover {
  border: 1px solid gray;
  transition: 0.2s; }

.brand-product .css-product-item a {
  text-decoration: none;
  font-size: 18px;
  font-family: monospace, "Space Mono";
  font-weight: 700;
  color: black;
  text-transform: uppercase; }

.brand-product .css-product-item img {
  width: 25px;
  height: 25px; }

.brand-product .wishlist {
  position: absolute;
  bottom: 0.5rem;
  right: 3.9rem;
  cursor: pointer; }

.brand-product .img-buynow {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  cursor: pointer; }

.brand-product .img-icon:hover {
  background: #dbe1eb; }

.product-wrapper-item .product-item-slider {
  width: 100%;
  height: auto; }

.product-item-slider .product-item-img img {
  width: 240px;
  height: 240px;
  padding: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0.5rem;
  margin-left: auto; }

.product-wrapper-item .product-item-descrip {
  width: 200px;
  min-height: 120px;
  margin-right: auto;
  margin-left: auto; }
  .product-wrapper-item .product-item-descrip .product-item-name {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600; }

.product-item-descrip .product-item-price, .product-item-descrip .product-item-name {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center; }

.product-item-descrip .product-item-price {
  font-weight: 500;
  margin-top: 20px; }

#container .contact {
  width: 100vw;
  padding: 80px 0;
  margin-left: auto;
  margin-right: auto; }

#container .contact-heading {
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px; }

#container .sub-contact-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px; }

.contact .form-email-btn {
  margin-top: 80px;
  width: 100vw;
  display: flex; }

#container .contact-send-email .contact form {
  background-color: white;
  width: fit-content;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black; }

.contact form input {
  border: 0;
  outline: none;
  padding: 10px 10px;
  height: 70px;
  width: 400px;
  font-size: 16px; }

.contact form button {
  width: 100px;
  height: 70px;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%); }

#footer {
  margin-top: 80px; }
  #footer .footer-service {
    width: 100vw;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto; }
  #footer .footer-logo {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #footer .footer-logo img {
      width: 240px;
      height: 200px; }

.row {
  display: flex;
  flex-wrap: wrap;
  height: 200px; }

col {
  float: left;
  padding-left: 8px;
  padding-right: 8px; }

.col-third {
  width: 33.3333333%; }

.footer-social-media .social-media-img img {
  width: 20px;
  height: 20px;
  margin: 0px 15px; }

.footer-service .img-infor img {
  width: 20px;
  height: 20px;
  margin: 0px 15px; }

.footer-service .infor-service a, .footer-service .img-infor p {
  font-size: 15px;
  color: #000;
  line-height: 2.5; }

.footer-service .infor-service {
  padding: auto; }
  .footer-service .infor-service a {
    text-decoration: none; }
  .footer-service .infor-service li {
    list-style: none; }

.footer-service .img-infor {
  padding: auto; }

.footer-service .wrapper-items-footer {
  margin-top: 80px; }

#footer .footer-social-media {
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%); }

.footer-social-media .social-media-img a {
  height: 50px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (max-width: 1024px) {
  .category-wrapper .category-item {
    width: 150px; }
  .brand-product .brand-product-wrapper {
    width: 100vw;
    padding-right: 10px; }
    .brand-product .brand-product-wrapper .product-wrapper-item {
      width: 220px; }
  #container .brand-slider {
    width: 100vw; }
  #container .brand-slider img {
    width: 350px;
    height: 450px;
    padding: 0 30px; } }

body {
  background-image: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace, "Space Mono";
  color: #333333; }
  body #login-page {
    min-height: 101vh;
    width: 100%; }
  body .box-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 80%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px black; }
    @media (max-width: 980px) {
      body .box-form {
        flex-flow: wrap;
        text-align: center;
        align-content: center;
        align-items: center; } }
    body .box-form div {
      height: auto; }
    body .box-form .left {
      color: #FFFFFF;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("/images/Image/background-login-register.jpeg");
      overflow: hidden; }
      body .box-form .left .overlay {
        padding: 30px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        box-sizing: border-box; }
        body .box-form .left .overlay h1 {
          font-size: 8vmax;
          line-height: 1;
          font-weight: 900;
          margin-top: 40px;
          margin-bottom: 20px; }
        body .box-form .left .overlay span p {
          margin-top: 30px;
          font-weight: 900; }
        body .box-form .left .overlay span a {
          background: #3b5998;
          color: #FFFFFF;
          margin-top: 10px;
          padding: 14px 50px;
          border-radius: 80px;
          display: inline-block;
          box-shadow: 0 3px 6px 1px #042d4657; }
        body .box-form .left .overlay span a:last-child {
          background: red;
          margin-left: 30px; }
    body .box-form .right {
      padding: 40px;
      overflow: hidden; }
      @media (max-width: 980px) {
        body .box-form .right {
          width: 100%; } }
      body .box-form .right h5 {
        font-size: 6vmax;
        line-height: 0;
        margin-bottom: 50px;
        margin-top: 50px; }
      body .box-form .right p {
        font-size: 14px;
        color: #B0B3B9; }
      body .box-form .right .inputs {
        overflow: hidden; }
      body .box-form .right input {
        width: 100%;
        padding: 10px;
        margin-top: 25px;
        font-size: 16px;
        border: none;
        outline: none;
        border-bottom: 2px solid #B0B3B9; }
      body .box-form .right .remember-me--forget-password {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body .box-form .right .remember-me--forget-password input {
          margin: 0;
          margin-right: 7px;
          width: auto; }
      body .box-form .right button {
        float: right;
        color: #fff;
        font-size: 16px;
        padding: 12px 35px;
        border-radius: 50px;
        display: inline-block;
        border: 0;
        outline: 0;
        box-shadow: 0px 4px 20px 0px gray;
        background-image: linear-gradient(to right, #434343 0%, black 100%); }
  body label {
    display: block;
    position: relative;
    margin-left: 30px; }
  body label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 2px solid black;
    border-radius: 4px;
    color: transparent;
    left: -30px; }
  body label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: black; }
  body label:hover::before .text-checkbox {
    background: gray; }
  body label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer; }
  body label input[type="checkbox"] {
    display: none; }

#catelog-cart {
  margin-top: 80px; }
  #catelog-cart .container {
    max-width: 101vw;
    width: 100%; }
  #catelog-cart section .section-title {
    padding-top: 20px;
    font-family: monospace, "Space Mono";
    font-size: 40px;
    font-weight: 800;
    text-align: center; }
  #catelog-cart .sprezza-page-controller {
    display: flex;
    justify-content: center;
    margin-top: 50px; }
    #catelog-cart .sprezza-page-controller .sprezza-icon-button-left {
      text-align: right;
      margin-right: 0.9375rem; }
    #catelog-cart .sprezza-page-controller button {
      cursor: pointer; }
      #catelog-cart .sprezza-page-controller button .arrow-img img {
        width: 20px;
        height: 20px; }
    #catelog-cart .sprezza-page-controller .button-no-outline {
      display: flex;
      padding: 0;
      color: #4f4b4b;
      min-width: 2.5rem;
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      position: relative;
      overflow: visible;
      outline: 0;
      margin: 0;
      margin-left: 20px;
      margin-right: 20px; }
    #catelog-cart .sprezza-page-controller .sprezza-icon-button {
      background-color: white;
      border: none; }

.container {
  margin-top: 80px; }

#header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-image: linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%);
  width: 100vw; }
  #header li {
    font-size: 15px;
    list-style: none; }

#fullnav {
  display: flex;
  padding: 0 10px; }
  #fullnav li {
    display: inline-block;
    position: relative; }

#left_nav li a {
  color: #000;
  text-decoration: none;
  line-height: 80px;
  padding: 0 12px;
  text-transform: uppercase;
  display: block;
  text-align: center; }

#left_nav li:hover .subnav {
  display: block; }

#left_nav > ul > li > a {
  height: 50px; }

.menu > li:hover > a {
  border-bottom: 1px solid black; }

.menu .menunav {
  height: 80px; }

#left_nav .subnav {
  width: 200px; }
  #left_nav .subnav li {
    width: 100%; }
    #left_nav .subnav li:hover a {
      color: white;
      background-color: rgba(0, 0, 0, 0.3); }
    #left_nav .subnav li a {
      width: 100%;
      text-align: left; }

#fullnav .subnav {
  top: 80px;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

#left_nav .subnav a {
  color: #000;
  padding: 0 6px;
  line-height: 40px; }

#fullnav #left_nav {
  width: 40%; }

#fullnav #main_logo {
  width: 20%;
  height: 80px; }
  #fullnav #main_logo img {
    padding: auto; }

#fullnav #search_nav {
  width: 20%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center; }

.search {
  margin: 20px; }
  .search > div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 2px #000000); }
    .search > div:after {
      content: "";
      background: #000;
      width: 4px;
      height: 10px;
      position: absolute;
      top: 21px;
      right: 0px;
      transform: rotate(150deg); }
    .search > div > input {
      color: black;
      font-size: 10px;
      width: 25px;
      height: 25px;
      padding: 10px;
      border: solid 1px black;
      outline: none;
      border-radius: 35px;
      transition: width 0.5s; }
      .search > div > input::placeholder {
        color: gray;
        opacity: 0;
        transition: opacity 100ms ease-out; }
      .search > div > input:focus {
        width: 200px; }
        .search > div > input:focus::placeholder {
          opacity: 1; }
      .search > div > input:not(:placeholder-shown) {
        width: 200px; }

#right_nav {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: flex-end; }
  #right_nav ul {
    display: flex;
    align-items: center; }
  #right_nav img {
    width: 30px;
    height: 30px; }
  #right_nav icon {
    cursor: pointer; }
  #right_nav .cart {
    position: fixed;
    top: 0;
    right: 0px;
    width: 360px;
    min-height: 100vh;
    background-color: white;
    box-shadow: -2px 0 4px gray;
    z-index: 1000;
    padding: 20px;
    display: none; }
    #right_nav .cart.active {
      display: block; }
    #right_nav .cart .cart-tilte {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 2rem; }
    #right_nav .cart .cart-box {
      display: grid;
      grid-template-columns: 32% 50% 18%;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem; }
    #right_nav .cart .cart-img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      padding: 10px; }
    #right_nav .cart .icon-cart {
      width: 16px;
      height: 16px; }
    #right_nav .cart .detail-box {
      display: grid;
      row-gap: 0.5rem; }
    #right_nav .cart .cart-product-tilte {
      font-size: 1.5 rem;
      text-transform: uppercase; }
    #right_nav .cart .cart-price {
      font-weight: 500; }
    #right_nav .cart .cart-quantity {
      width: 40px;
      border: 1px solid gray;
      outline-color: black;
      text-align: center;
      font-size: 0.8rem;
      align-items: center;
      border-radius: 30px; }
    #right_nav .cart .cart-remove {
      cursor: pointer; }
    #right_nav .cart .total {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.5rem;
      border-top: 1px solid black; }
      #right_nav .cart .total .total-tilte {
        font-size: 1rem;
        font-weight: 600; }
      #right_nav .cart .total .total-price {
        margin-left: 10px; }
    #right_nav .cart .btn-buy {
      display: flex;
      width: 100px;
      height: 30px;
      margin: 1.5rem auto 0 auto;
      padding: 12px 20px;
      border: 1px solid black;
      background-color: white;
      color: black;
      font-size: 12px;
      font-weight: 700;
      cursor: pointer;
      text-align: center;
      line-height: 5px; }
    #right_nav .cart .btn-buy:hover {
      background-color: black;
      color: white; }
    #right_nav .cart .view-cart {
      color: #fca6b4;
      font-size: 16px;
      margin-top: 20px;
      text-align: center;
      font-weight: 600; }
    #right_nav .cart #cart-close {
      position: absolute;
      top: 1rem;
      right: 0.8rem;
      cursor: pointer; }

#fullnav #right_nav li a {
  padding: 0 12px;
  display: block; }

@media only screen and (max-width: 1024px) {
  #fullnav #left_nav {
    width: 45%; }
    #fullnav #left_nav li a {
      padding: 0;
      font-size: 14px;
      font-weight: 400; }
  #fullnav #main_logo {
    width: 200px;
    display: flex;
    align-items: center; }
    #fullnav #main_logo img {
      width: 200px;
      height: 60px; }
  #fullnav #search_nav {
    padding: 0px; }
    #fullnav #search_nav .search div > input:focus {
      width: 150px; }
    #fullnav #search_nav .search div > input:not(:placeholder-shown) {
      width: 150px; } }

@media only screen and (max-width: 425px) {
  #left_nav {
    display: none; }
  .menu-mobile {
    display: block;
    position: absolute;
    top: 25px;
    left: 0px;
    bottom: 25px; }
  .icon {
    width: 30px;
    height: 30px;
    align-items: center;
    cursor: pointer; }
    .icon img {
      width: 100%; } }

@media only screen and (min-width: 986px) {
  .menu-mobile {
    display: none; } }

.product {
  padding-top: 50px;
  width: 100%;
  min-height: 1000px; }

.container-product {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 60%; }

.product-top {
  margin: 0 10px;
  height: 20px;
  line-height: 20px; }

.text {
  font-size: 12px;
  margin: 0 12px; }

.row-cart {
  display: flex;
  flex-wrap: wrap; }

.product-content-left {
  width: 50%;
  min-height: 1000px; }
  .product-content-left .product-content-left-big-img {
    width: 80%;
    padding-right: 20px; }
    .product-content-left .product-content-left-big-img img {
      width: 100%;
      height: 600px;
      margin: 10px 0; }
  .product-content-left .product-content-left-small-img {
    width: 20%;
    height: 600px; }
    .product-content-left .product-content-left-small-img img {
      width: 100%;
      height: 22%;
      margin: 10px 0; }

.product-content-right {
  width: 50%;
  padding-left: 50px; }
  .product-content-right .product-content-right-product-name h1 {
    font-size: 25px; }
  .product-content-right .product-content-right-product-name p {
    color: #ccc;
    font-size: 12px; }
  .product-content-right .product-content-right-product-price {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold; }
  .product-content-right .product-content-right-product-color-img {
    margin: 20px 0; }
    .product-content-right .product-content-right-product-color-img img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border-radius: 50%;
      cursor: pointer; }
  .product-content-right .product-content-right-product-size p {
    font-size: 14px; }
  .product-content-right .product-content-right-product-size .size span {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 20px 10px 10px0;
    font-size: 12px;
    cursor: pointer; }
  .product-content-right .quantity {
    margin-top: 20px;
    display: flex;
    margin-bottom: 0px; }
    .product-content-right .quantity input {
      width: 35px;
      padding-left: 10px;
      margin-right: 5px; }
  .product-content-right .alert-size {
    font-size: 12px; }
  .product-content-right .product-btn-buy {
    width: 150px;
    height: 50px;
    display: block;
    margin-top: 30px;
    align-items: center; }
    .product-content-right .product-btn-buy button {
      margin: 20px 0;
      width: 130px;
      height: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #fff;
      border: 2px solid black;
      cursor: pointer; }
    .product-content-right .product-btn-buy button:hover {
      background-color: black;
      color: #fff; }
  .product-content-right .product-content-right-bottom {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #dddddd;
    position: relative; }
    .product-content-right .product-content-right-bottom .product-content-right-bottom-top {
      position: absolute;
      width: 30px;
      height: 30px;
      border: 2px solid #dddd;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      top: -15px;
      left: 50%;
      border-radius: 50%;
      transform: translateX(-50%); }
    .product-content-right .product-content-right-bottom .product-content-right-bottom-content-big .product-content-right-bottom-content-title {
      border-bottom: 2px solid #dddd; }
      .product-content-right .product-content-right-bottom .product-content-right-bottom-content-big .product-content-right-bottom-content-title .product-content-right-bottom-content-title-item {
        padding: 6px;
        cursor: pointer;
        margin-right: 6px; }
        .product-content-right .product-content-right-bottom .product-content-right-bottom-content-big .product-content-right-bottom-content-title .product-content-right-bottom-content-title-item p {
          font-size: 12px; }
    .product-content-right .product-content-right-bottom .product-content-right-bottom-content {
      padding-top: 30px;
      font-size: 12px;
      color: #bdc6d4; }

.cart {
  font-family: monospace, "Space Mono";
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto; }
  .cart .cart-title {
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    font-weight: 800;
    color: black; }
  .cart .cart-top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
    .cart .cart-top-wrapper .cart-top {
      height: 2px;
      width: 60%;
      background-color: #ddd;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px 0 100px; }
      .cart .cart-top-wrapper .cart-top .cart-top-cart {
        border: 1px solid pink; }
        .cart .cart-top-wrapper .cart-top .cart-top-cart i {
          color: pink; }
    .cart .cart-top-wrapper .cart-top-item {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff; }
      .cart .cart-top-wrapper .cart-top-item i {
        color: #ccc; }
  .cart .cart-content-left {
    flex: 2;
    padding-right: 12px; }
    .cart .cart-content-left table {
      width: 100%;
      text-align: center; }
      .cart .cart-content-left table td {
        padding: 20px 0;
        border-bottom: 1px solid #ddd; }
      .cart .cart-content-left table th {
        padding-bottom: 10px;
        font-size: 12px;
        text-transform: uppercase;
        color: #333;
        border-collapse: collapse;
        border-bottom: 1px solid #ddd; }
      .cart .cart-content-left table td:first-child img {
        width: 130px;
        height: 130px; }
      .cart .cart-content-left table td:nth-child(2) {
        max-width: 130px; }
        .cart .cart-content-left table td:nth-child(2) a {
          font-size: 12px;
          color: black;
          text-decoration: none; }
      .cart .cart-content-left table .img-color {
        width: 20px;
        height: 20px; }
      .cart .cart-content-left table p {
        font-size: 12px;
        color: #333; }
      .cart .cart-content-left table input {
        width: 30px; }
      .cart .cart-content-left table span {
        text-align: center;
        justify-items: center;
        width: 20px;
        height: 20px;
        border: 1px solid #dddd;
        cursor: pointer; }
  .cart .cart-content-right {
    flex: 1;
    padding-left: 12px;
    border-left: 1px solid #ddd;
    width: 50%; }
    .cart .cart-content-right table {
      width: 100%; }
      .cart .cart-content-right table th {
        padding-bottom: 10px;
        font-size: 12px;
        color: #333;
        text-transform: uppercase;
        border-collapse: collapse;
        border-bottom: 1px solid #ddd; }
      .cart .cart-content-right table td {
        font-size: 12px;
        color: #333;
        text-transform: uppercase;
        padding: 6px 0; }
    .cart .cart-content-right tr:nth-child(4) td {
      border-bottom: 1px solid #ddd; }
    .cart .cart-content-right tr td:last-child {
      text-align: right; }
    .cart .cart-content-right .cart-content-right-text {
      margin: 20px 0;
      text-align: center; }
      .cart .cart-content-right .cart-content-right-text p {
        font-size: 12px;
        color: #333; }
    .cart .cart-content-right .cart-content-right-button {
      align-items: center;
      text-align: center; }
      .cart .cart-content-right .cart-content-right-button a {
        text-decoration: none;
        color: #000; }
      .cart .cart-content-right .cart-content-right-button .button {
        padding: 10px 18px;
        display: inline-block;
        cursor: pointer; }
      .cart .cart-content-right .cart-content-right-button .button:first-child {
        background-color: #fff;
        border: 1px solid black;
        margin-right: 20px; }
      .cart .cart-content-right .cart-content-right-button .button:first-child:hover {
        background-color: pink;
        color: #fff;
        border: 1px solid pink; }
      .cart .cart-content-right .cart-content-right-button .button:last-child {
        background-color: #000;
        color: #fff;
        border: none;
        border: 1px solid black; }
      .cart .cart-content-right .cart-content-right-button .button:last-child:hover {
        background-color: pink;
        color: #fff;
        border: 1px solid pink; }

.checkout {
  font-family: monospace, "Space Mono";
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto; }
  .checkout .checkout-title {
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    font-weight: 800;
    color: black; }
  .checkout .checkout-top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
    .checkout .checkout-top-wrapper .checkout-top-item {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff; }
      .checkout .checkout-top-wrapper .checkout-top-item i {
        color: #ccc; }
    .checkout .checkout-top-wrapper .checkout-top {
      height: 2px;
      width: 60%;
      background-color: #ddd;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px 0 100px; }
      .checkout .checkout-top-wrapper .checkout-top .cart-top-checkout {
        border: 1px solid pink; }
        .checkout .checkout-top-wrapper .checkout-top .cart-top-checkout i {
          color: pink; }
  .checkout .checkout-content-wrapper .checkout-content .checkout-content-left {
    flex: 1;
    padding-right: 12px; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .title-address {
      margin-bottom: 20px;
      text-align: center;
      font-size: 18px;
      text-transform: uppercase; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-address {
      width: 100%; }
      .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-address .select-address .select-address .form-select {
        font-size: 14px;
        font-family: monospace, "Space Mono";
        color: #504d4d;
        line-height: 1.3;
        padding: 5px 10px;
        width: 30.5%;
        max-width: 33%;
        height: 40px;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%; }
      .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-address .select-address .select-address .form-select::-ms-expand {
        display: none; }
      .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-address .select-address .select-address .form-select:hover {
        border-color: #888; }
      .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-address .select-address .select-address .form-select:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(240, 117, 137, 0.7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none; }
      .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-address .select-address .select-address .form-select option {
        font-weight: normal; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .button-to-ship {
      text-align: right; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .css-input-full {
      height: 40px;
      font-family: monospace, "Space Mono";
      color: #504d4d;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      line-height: 40px;
      border: 1px solid #aaa;
      border-radius: .5em;
      font-size: 14px; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .css-input {
      height: 40px;
      font-family: monospace, "Space Mono";
      color: #504d4d;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      line-height: 40px;
      border: 1px solid #aaa;
      border-radius: .5em;
      font-size: 14px; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left input {
      padding-left: 10px; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .css-input-padding {
      margin-bottom: 30px; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-flex {
      display: flex;
      flex-wrap: wrap; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-flex-half {
      width: 50%;
      align-items: center;
      justify-content: center; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-information {
      width: 90%;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-btn-checkout {
      margin-top: 30px; }
      .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-btn-checkout a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 700; }
      .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .form-btn-checkout a:hover {
        color: pink;
        font-weight: 500; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-left .section-payment-methods .section-title {
      font-size: 18px;
      font-weight: 500;
      color: black;
      margin-bottom: 20px; }
  .checkout .checkout-content-wrapper .checkout-content .checkout-content-right {
    flex: 1;
    padding-left: 12px;
    border-left: 1px solid #ddd;
    width: 50%; }
    .checkout .checkout-content-wrapper .checkout-content .checkout-content-right .checkout-content-right-product-wrapper {
      width: 90%;
      height: 250px;
      overflow-y: scroll;
      margin-left: auto;
      margin-right: auto; }
      .checkout .checkout-content-wrapper .checkout-content .checkout-content-right .checkout-content-right-product-wrapper .right-product-detail-wrapper table td {
        padding: 5px 15px; }
        .checkout .checkout-content-wrapper .checkout-content .checkout-content-right .checkout-content-right-product-wrapper .right-product-detail-wrapper table td.price {
          width: 150px;
          text-align: right; }
        .checkout .checkout-content-wrapper .checkout-content .checkout-content-right .checkout-content-right-product-wrapper .right-product-detail-wrapper table td .img-product {
          width: 80px;
          height: 80px;
          overflow: hidden; }
          .checkout .checkout-content-wrapper .checkout-content .checkout-content-right .checkout-content-right-product-wrapper .right-product-detail-wrapper table td .img-product img {
            width: 100%; }
        .checkout .checkout-content-wrapper .checkout-content .checkout-content-right .checkout-content-right-product-wrapper .right-product-detail-wrapper table td .product-name {
          text-decoration: none;
          color: #222;
          font-size: 14px; }
        .checkout .checkout-content-wrapper .checkout-content .checkout-content-right .checkout-content-right-product-wrapper .right-product-detail-wrapper table td .product-size-color {
          text-align: left;
          font-size: 10px;
          color: #aaa; }
        .checkout .checkout-content-wrapper .checkout-content .checkout-content-right .checkout-content-right-product-wrapper .right-product-detail-wrapper table td .product-price {
          font-size: 14px;
          color: #222; }

.product-subtotal {
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #aaa;
  font-size: 14px;
  line-height: 40px; }
  .product-subtotal .form-flex {
    display: flex;
    flex-wrap: wrap; }
  .product-subtotal .form-flex-half {
    width: 50%;
    align-items: center;
    justify-content: center; }
  .product-subtotal .text-center {
    text-align: right; }
  .product-subtotal .title-total {
    font-size: 20px;
    font-weight: 800; }

.payment {
  font-family: monospace, "Space Mono";
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto; }
  .payment .payment-title {
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    font-weight: 800;
    color: black; }
  .payment .alert {
    text-align: center;
    font-size: 12px;
    color: gray;
    margin-bottom: 5px; }
  .payment .payment-top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
    .payment .payment-top-wrapper .payment-top-item {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff; }
      .payment .payment-top-wrapper .payment-top-item i {
        color: #ccc; }
    .payment .payment-top-wrapper .payment-top {
      height: 2px;
      width: 60%;
      background-color: #ddd;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px 0 100px; }
      .payment .payment-top-wrapper .payment-top .cart-top-payment {
        border: 1px solid pink; }
        .payment .payment-top-wrapper .payment-top .cart-top-payment i {
          color: pink; }
  .payment .payment-content-wrapper .payment-content .title-address {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase; }
  .payment .payment-content-wrapper .payment-content .payment-content-left {
    flex: 1;
    padding-right: 12px; }
    .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order {
      width: 100%;
      background-color: white; }
      .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        min-height: 600px;
        background-image: linear-gradient(109.6deg, #ffdde1 11.2%, white 92.2%); }
        .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .payment-top-order {
          color: red !important;
          padding-left: 10px;
          font-size: 16px;
          font-family: monospace, "Space Mono";
          letter-spacing: 1px;
          display: flex;
          margin-bottom: 10px;
          padding-top: 20px; }
          .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .payment-top-order p {
            padding-left: 20px; }
        .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .address-from-seclect {
          margin-bottom: 30px; }
          .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .address-from-seclect .information-checkout {
            font-size: 14px;
            color: black;
            padding-left: 40px;
            line-height: 16px; }
        .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .item-order .checkout-content-right-product-wrapper {
          width: 90%;
          height: 250px;
          overflow-y: scroll;
          margin-left: auto;
          margin-right: auto; }
          .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .item-order .checkout-content-right-product-wrapper .right-product-detail-wrapper table td {
            padding: 5px 15px; }
            .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .item-order .checkout-content-right-product-wrapper .right-product-detail-wrapper table td.price {
              width: 150px;
              text-align: right; }
            .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .item-order .checkout-content-right-product-wrapper .right-product-detail-wrapper table td .img-product {
              width: 80px;
              height: 80px;
              overflow: hidden; }
              .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .item-order .checkout-content-right-product-wrapper .right-product-detail-wrapper table td .img-product img {
                width: 100%; }
            .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .item-order .checkout-content-right-product-wrapper .right-product-detail-wrapper table td .product-name {
              text-decoration: none;
              color: #222;
              font-size: 14px; }
            .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .item-order .checkout-content-right-product-wrapper .right-product-detail-wrapper table td .product-size-color {
              text-align: left;
              font-size: 10px;
              color: #aaa; }
            .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .item-order .checkout-content-right-product-wrapper .right-product-detail-wrapper table td .product-price {
              font-size: 14px;
              color: #222; }
        .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .confirm-order {
          align-items: center;
          text-align: center; }
          .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .confirm-order a {
            text-decoration: none;
            color: white; }
          .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .confirm-order .button {
            padding: 10px 18px;
            align-items: center;
            cursor: pointer; }
          .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .confirm-order .button {
            background-color: #000;
            margin-right: 20px; }
          .payment .payment-content-wrapper .payment-content .payment-content-left .payment-content-left-order .payment-content-left-order-wrapper .confirm-order .button:hover {
            background-color: pink;
            color: #fff;
            border: 1px solid pink; }
  .payment .payment-content-wrapper .payment-content .payment-content-right {
    flex: 1;
    padding-left: 12px;
    border-left: 1px solid #ddd;
    width: 50%; }
    .payment .payment-content-wrapper .payment-content .payment-content-right .select-payment-methods {
      width: 100%;
      background-color: white; }
      .payment .payment-content-wrapper .payment-content .payment-content-right .select-payment-methods .select-payment-methods-wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        min-height: 600px;
        padding-top: 20px;
        background-image: linear-gradient(109.6deg, #ffdde1 11.2%, white 92.2%); }
        .payment .payment-content-wrapper .payment-content .payment-content-right .select-payment-methods .select-payment-methods-wrapper .select-payment-method {
          margin-bottom: 30px; }
        .payment .payment-content-wrapper .payment-content .payment-content-right .select-payment-methods .select-payment-methods-wrapper label {
          display: flex;
          cursor: pointer;
          font-weight: 500;
          position: relative;
          overflow: hidden;
          margin-bottom: 0.375em;
          /* Accessible outline */
          /* Remove comment to use */
          /*
                                    &:focus-within {
                                            outline: .125em solid $primary-color;
                                    }
                                */ }
          .payment .payment-content-wrapper .payment-content .payment-content-right .select-payment-methods .select-payment-methods-wrapper label input {
            position: absolute;
            left: -9999px; }
            .payment .payment-content-wrapper .payment-content .payment-content-right .select-payment-methods .select-payment-methods-wrapper label input:checked + span {
              background-color: #fff5f7; }
              .payment .payment-content-wrapper .payment-content .payment-content-right .select-payment-methods .select-payment-methods-wrapper label input:checked + span:before {
                box-shadow: inset 0 0 0 0.4375em pink; }
          .payment .payment-content-wrapper .payment-content .payment-content-right .select-payment-methods .select-payment-methods-wrapper label span {
            display: flex;
            align-items: center;
            padding: 0.375em 0.75em 0.375em 0.375em;
            border-radius: 99em;
            transition: 0.25s ease; }
            .payment .payment-content-wrapper .payment-content .payment-content-right .select-payment-methods .select-payment-methods-wrapper label span:hover {
              background-color: #fff5f7; }
            .payment .payment-content-wrapper .payment-content .payment-content-right .select-payment-methods .select-payment-methods-wrapper label span:before {
              display: flex;
              flex-shrink: 0;
              content: "";
              background-color: #fff;
              width: 1.5em;
              height: 1.5em;
              border-radius: 50%;
              margin-right: 0.375em;
              transition: 0.25s ease;
              box-shadow: inset 0 0 0 0.125em pink; }
        .payment .payment-content-wrapper .payment-content .payment-content-right .select-payment-methods .select-payment-methods-wrapper .show-input-card {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
