/*  Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap');


//Variable 
$colorBackground:linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%);

$marginTop: 80px;

$font: monospace, 'Space Mono';

$fontsize : 15px;

$marginBot:0.5rem;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 101vh;
  }
  
  html {
    font-family: $font;
  }
  
  #homepage {
    min-height: 300vh;
  }
  
  #header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-image: $colorBackground;
  
    li {
      font-size: $fontsize;
      list-style: none;
    }
  }
  
  #fullnav {
    display: flex;
    padding: 0 10px;
  
    li {
      display: inline-block;
      position: relative;
    }
  }
  
  #left_nav {
    li {
      a {
        color: #000;
        text-decoration: none;
        line-height: 80px;
        padding: 0 12px;
        text-transform: uppercase;
        display: block;
        text-align: center;
      }
  
      &:hover .subnav {
        display: block;
      }
    }
  
    > ul > li > a {
      height: 50px;
    }
  }
  
  .menu {
    > li:hover > a {
      border-bottom: 1px solid black;
    }
  
    .menunav {
      height: 80px;
    }
  }
  
  #left_nav .subnav {
    li {
      &:hover a {
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
      }
  
      width: 100%;
  
      a {
        width: 100%;
        text-align: left;
      }
    }
  
    width: 200px;
  }
  
  #fullnav .subnav {
    top: $marginTop;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  #left_nav .subnav a {
    color: #000;
    padding: 0 6px;
    line-height: 40px;
  }
  
  #fullnav {
    #left_nav {
      width: 40%;
    }
  
    #main_logo {
      width: 20%;
      height: 80px;
  
      img {
        padding: auto;
      }
    }
  
    #search_nav {
      width: 20%;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .search {
    margin: 20px;
  
    > div {
      display: inline-block;
      position: relative;
      filter: drop-shadow(0 2px #000000);
  
      &:after {
        content: "";
        background: #000;
        width: 4px;
        height: 10px;
        position: absolute;
        top: 21px;
        right: 0px;
        transform: rotate(150deg);
      }
  
      > input {
        color: black;
        font-size: 10px;
        width: 25px;
        height: 25px;
        padding: 10px;
        border: solid 1px rgb(0, 0, 0);
        outline: none;
        border-radius: 35px;
        transition: width 0.5s;
  
        &::placeholder {
          color: gray;
          opacity: 0;
          transition: opacity 100ms ease-out;
        }
  
        &:focus {
          &::placeholder {
            opacity: 1;
          }
  
          width: 200px;
        }
  
        &:not(:placeholder-shown) {
          width: 200px;
        }
      }
    }
  }
  
  #right_nav {
    width: 20%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
  
    ul {
      display: flex;
      align-items: center;
    }
  
    img {
      width: 30px;
      height: 30px;
    }

    icon {
      cursor: pointer;
    }

    #img-buynow{
      cursor: pointer;
    }
    .menunav{
      .cart-wrap-draw{
        display: flex;

        #quatity-in-cart{
          width: 20px;
          height: 20px;
          color: black;
          background-color: white;
          font-size: 12px;
          border: 1px solid black;
          border-radius: 50%;
          line-height: 20px;
          text-align: center;
          position: relative;
          top: 17px;
          right: 15px;
        }
      }
    }
   
    
    li:hover .subnav{
      display: block;
    }
   

  }
  
  #fullnav #right_nav li a {
    padding: 0 12px;
    display: block;
  }
  
  #slider-container {
    margin-top: $marginTop;
    width: 100%;
  
    .item {
      height: 700px;
  
      img {
        height: 100%;
        width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  
  #section-below-header {
    width: 100%;
    height: 300px;
    margin-top: $marginTop;
  }
  
  .home-category-list {
    width: 100vw;
    height: 300px;
    margin: auto;
    border: 2px solid gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .category-name {
    border-bottom: 2px solid gray;
  
    a {
      text-decoration: none;
      color: #342f2f;
      line-height: 40px;
      font-size: x-large;
      margin-left: 100px;
    }
  }
  
  .category-wrapper {
    display: flex;
    flex-wrap: wrap;
  
    .category-item {
      width: 216px;
      height: 130px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .category-item {
    .item-img {
      height: 50px;
      margin-right: 0;
  
      img {
        height: 100%;
      }
    }
  
    .item-descrip {
      margin-top: 15px;
  
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
  
  #container {
    min-height: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: $marginTop;
  
    .brand-slider {
      width: 100vw  ;
      height: 600px;
      margin-right: auto;
      margin-left: auto;
  
      img {
        width: 450px;
        height: 500px;
        padding: 0 50px;
      }
    }
  
    .brand-product {
      width: 100%;
      max-height: 1000px;
    }
  }
  
  .brand-product {
    .brand-product-wrapper {
      width: 1300px;
      min-height: 500px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      flex-wrap: wrap;
    }
  
    .product-wrapper-item {
      width: 24%;
      max-width: 280px;
      height: 380px;
      background-color:  white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      position: relative;
    }

    .product-wrapper-item:hover {
      padding: 5px;
      border: 1px solid gray;
      transition: 0.2s ;
    }

    .css-product-item{

      a{
        text-decoration: none;
        font-size: 18px;
        font-family: $font;
        font-weight: 700;
        color: black;
        text-transform: uppercase;
      }
      img{
        width: 25px;
        height: 25px;
      }
    }
    .wishlist{
      position: absolute;
      bottom: 0.5rem;
      right: 3.9rem;
      cursor: pointer;
    }

    .img-buynow{
      width: 60px;
      height: 60px;
      position: absolute;
      bottom: $marginBot;
      right: $marginBot;
      cursor: pointer;
      

     
    }

   

    .img-icon:hover {
      background:hsl(216, 27%, 89%);
    }

    
  }
  
  .product-wrapper-item .product-item-slider {
    width: 100%;
    height: auto;
  }
  
  .product-item-slider .product-item-img img {
    width: 240px;
    height: 240px;
    padding: auto;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: $marginBot;
    margin-left: auto;
  }
  
  .product-wrapper-item .product-item-descrip {
    width: 240px;
    min-height: 120px;
    margin-right: auto;
    margin-left: auto;
  
    .product-item-name {
      margin-bottom: $marginBot;
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
  
  .product-item-descrip {
    .product-item-price , .product-item-name {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
    }
  
    .product-item-price {
      font-weight: 500;
      margin-top: 20px;
    }
  }
  
  #container {
    .contact {
      width: 100vw;
      padding: 80px 0;
      margin-left: auto;
      margin-right: auto;
    }
  
    .contact-heading {
      font-size: 30px;
      text-align: center;
      letter-spacing: 5px;
    }
  
    .sub-contact-heading {
      font-size: 15px;
      text-align: center;
      margin-top: 25px;
    }
  }
  
  .contact .form-email-btn {
    margin-top: $marginTop;
    width: 100vw;
    display: flex;
  }
  
  #container .contact-send-email .contact form {
    background-color: white;
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }
  
  .contact form {
    input {
      border: 0;
      outline: none;
      padding: 10px 10px;
      height: 70px;
      width: 400px;
      font-size: 16px;
    }
  
    button {
      width: 100px;
      height: 70px;
      border: none;
      outline: none;
      cursor: pointer;
      background-image: $colorBackground;
    }
  }
  
  #footer {
    margin-top: 80px;
  
    .footer-service {
      width: 100vw;
      min-height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .footer-logo {
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 240px;
        height: 200px;
      }
    }
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
  }
  
  col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .col-third {
    width: 33.3333333%;
  }
  
  .footer-social-media .social-media-img img {
    width: 20px;
    height: 20px;
    margin: 0px 15px;
  }
  
  .footer-service {
    .img-infor img {
      width: 20px;
      height: 20px;
      margin: 0px 15px;
    }
  
    .infor-service a, .img-infor p {
      font-size: 15px;
      color: #000;
      line-height: 2.5;
    }
  
    .infor-service {
      a {
        text-decoration: none;
      }
  
      li {
        list-style: none;
      }
  
      padding: auto;
    }
  
    .img-infor {
      padding: auto;
    }
  
    .wrapper-items-footer {
      margin-top: $marginTop;
    }
  }
  
  #footer .footer-social-media {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    background-image: $colorBackground;
  }
  
  .footer-social-media .social-media-img a {
    height: 50px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
@media only screen and (max-width: 1024px) {
  .category-wrapper{
    .category-item{
      width: 170px
    }
  }
  .brand-product{
    .brand-product-wrapper {
      width: 100vw;
    }
  }
  #container{
    .brand-slider{
      width: 100vw;
    }
  }
}

 
  