@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap');


$font: monospace, 'Space Mono';
$main-color: #ee2d5a;

a {
    cursor: pointer;
    text-decoration: none;

}

.pad-20 {
    padding-top: 20px;
}

.css-container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-top: 0;
}

.SZDPBG1,
.SZwePd {
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 5rem;
    width: 5rem;
    box-sizing: border-box;
    border-width: 0.25rem;
    border-color: hsla(0, 0%, 100%, .4);
}

#shop-page {
    width: 100%;
    height: auto;

    .shop-page__wrapper {
        .shop-page__info {
            background: #fff;
            padding: 20px 0;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

            .section-seller-overview-horiz {
                display: flex;
                overflow: hidden;

                .section-seller__leading-left {
                    position: relative;
                    width: 390px;
                    overflow: hidden;
                    border-radius: 1.5px;
                    height: 135px;

                    .section-seller-overview-horizontal__leading-background {
                        position: absolute;
                        width: 100%;
                        height: auto;
                        background-position: 50%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        filter: blur(2px);
                        margin: -4px;

                        img {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                        }
                    }

                    .section-seller-overview-horizontal__leading-background-mask {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background-color: rgba(0, 0, 0, .6);

                    }

                    .section-seller-overview-horizontal__leading-content {
                        position: absolute;
                        top: 10px;
                        left: 20px;
                        right: 14px;
                        bottom: 10px;

                        .section-seller-overview-horiz-portrait {
                            display: flex;

                            .section-seller-overview-horiz-portrait-link {
                                position: relative;
                                display: block;
                                height: 80px;
                                width: 80px;
                                flex-shrink: 0;

                                .sz-avatar {
                                    width: 100%;
                                    height: 100%;
                                    position: relative;
                                    border-radius: 50%;
                                    border: 1px solid rgba(0, 0, 0, .09);
                                    box-sizing: border-box;

                                    .sz-avatar__img {
                                        position: absolute;
                                        border-radius: 50%;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                    }

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                            }

                            a {
                                text-decoration: none;
                                cursor: pointer;
                            }

                            .section-seller-overview-horiz-portrait-info {
                                margin-top: 10px;
                                margin-left: 10px;
                                color: #fff;
                                position: relative;
                                width: 200px;
                                height: auto;

                                .section-seller-overview-horiz-portrait-name {
                                    font-size: 20px;
                                    width: 250px;
                                    line-height: 24px;
                                    max-height: 48px;
                                    font-weight: 500;
                                    margin-bottom: 5px;
                                    margin-top: 0;
                                    word-wrap: break-word;
                                    display: -webkit-box;
                                    text-overflow: ellipsis;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    -webkit-line-clamp: 2;
                                }

                                h1 {
                                    font-size: 32px;
                                    margin: 10.72px 0;
                                }

                                .section-seller-overview-horiz-portrait-status {
                                    font-size: 10px;

                                    .section-seller-overview-horiz-portrait__active-time {
                                        vertical-align: middle;
                                        font-size: 10px;
                                        color: hsla(0, 0%, 100%, .7);
                                        margin: 3px 0 5px;

                                    }
                                }
                            }
                        }

                        .section-seller-overview-horiz-button {
                            position: relative;
                            display: flex;
                            margin-top: 10px;

                            .section-seller-overview-horizontal__button {
                                flex: 1;
                                padding-right: 10px;

                                .shopee-button-outline {

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    height: 25px;
                                    color: #fff;
                                    border-color: #fff;
                                    text-transform: uppercase;
                                    font-size: 12px;
                                    font-weight: 500;
                                    padding: 5px 0;
                                    box-sizing: border-box;
                                    outline: none;
                                    cursor: pointer;
                                    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
                                    border-radius: 2px;
                                    background: transparent;

                                }

                                .shopee-button-outline--complement {}

                                .shopee-button-outline--fill {
                                    width: 100%;
                                    height: 100%;
                                    padding-top: 0;
                                    padding-bottom: 0;

                                }

                            }

                            .section-seller-overview-horizontal__icon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-right: 10px;
                                font-size: 15px;
                            }

                            .shopee-button-outline--fill-1 {
                                color: #fff;
                                border-color: #fff;
                            }

                            .section-seller-overview-horizontal__button--following {}

                            .css-text-pink {
                                border-color: $main-color !important;
                                color: $main-color !important;
                            }

                            .css-text-white {
                                border: 1px solid #fff;
                                color: #fff;
                            }



                        }

                    }
                }

                .section-seller__leading-right__info-list {
                    flex: 1;
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 30px;
                    background-color: #fff;
                    align-items: flex-start;

                    .section-seller-overview__item {
                        display: flex;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        flex: none;
                        flex-basis: 50%;
                        overflow: hidden;

                        div {
                            display: inline-block;
                        }

                        .section-seller-overview__item-icon-wrapper {
                            display: flex;
                            align-items: center;
                            box-sizing: border-box;
                            margin-left: 0.625rem;
                            margin-right: 0.625rem;
                            font-size: .9375rem;
                        }

                        .section-seller-overview__item-text {
                            text-transform: capitalize;
                            display: flex;
                            align-items: center;

                            .section-seller-overview__item-text-name {
                                text-transform: capitalize;
                            }

                            .section-seller-overview__item-text-value {
                                color: $main-color;
                            }
                        }

                    }

                    .section-seller-overview__item--clickable {
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;

                    }
                }
            }
        }

        .shop-page__menu {
            background: #fff;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            margin-bottom: 1px;
            z-index: 2;

            .navbar-with-more-menu {
                min-height: 50px;

                .navbar-with-more-menu-wrapper {
                    display: flex;
                    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);

                    .navbar-with-more-menu__items {
                        width: 100%;
                        flex: initial;
                        justify-content: flex-start;
                        display: flex;
                        justify-content: space-around;
                        width: 100%;

                        .navbar-with-more-menu__item {
                            max-width: 16.67%;
                            border-bottom-width: 4px;
                            text-decoration: none;
                            color: rgba(0, 0, 0, .87);
                            display: block;
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-bottom: 4px solid #fff;
                            font-size: 15px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            line-height: 40px;
                        }

                        .navbar-with-more-menu__item--active {

                            border-color: $main-color;
                            color: $main-color;
                            transition: border-color .2s cubic-bezier(.4, 0, .6, 1);
                        }
                    }
                }

                .navbar-with-more-menu-wrapper--no-shadow {
                    box-shadow: none;
                }
            }

            .navbar-with-more-menu--narrow {
                min-height: 40px;
            }

        }

        .sz-collection-view {
            margin-top: 30px;

        }
    }
}

.option-home-section {
    display: block;
    margin-top: 60px;
    margin-bottom: 30px;

    .brand-slider-shop {
        width: 100%;
        height: 450px;

        margin-right: auto;
        margin-left: auto;

        img {
            width: 400px;
            height: 400px;
            padding: 0 50px;
        }
    }
}




.sz-section-simple {
    display: block;
    padding-top: 20px;

}

.sz-section-simple__header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    .sz-section-simple__header__title {
        font-size: 16px;
        color: rgba(0, 0, 0, .54);
        font-weight: 500;
        text-transform: uppercase;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 20px;

    }
}

.sz-section-simple__content {
    width: 100%;
    height:300px;
    margin-bottom: 20px;
    .sz-header-iems-content-wrapper{
        margin:0 20px;
        display: flex;
        flex-wrap: nowrap;

    }
}

