@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap');


$font: monospace, 'Space Mono';

.shop-page{
    .shop-page__wrapper{
        font-family: $font;
        padding: 20px 0 ;
        margin-left: auto;
        margin-right:auto ;
        .shop-page__title{
            text-align: center;
            line-height: 60px;
            font-size: 30px;
            font-weight: 800;
            color: black;
            text-transform: uppercase;
        }
        .shop-page__info{
            background: #fff;
            padding: 1.25rem 0;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
            
        }
    }
}