@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap');


$font: monospace, 'Space Mono';

.payment{
    font-family: $font;
    padding: 20px 0 ;
    margin-left: auto;
    margin-right:auto ;

    .payment-title{
        text-align: center;
        line-height: 60px;
        font-size: 30px;
        font-weight: 800;
        color: black;
       
    }
    .payment-top-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;

        .payment-top-item{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
        
            i{
                color: #ccc;
            }
        }
        .payment-top{
            height: 2px;
            width: 60%;
            background-color: #ddd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 50px 0 100px;

            .cart-top-payment{
                border: 1px solid pink;
                
                i{
                    color: pink ; 
                }
            }
        }

        
    }
}

