@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap');

$fontTilte: monospace, 'Space Mono';
$mgTop-20: 20px;
#catelog-cart {
    //Cart 
    background-color: #fafafa;
    .all-icon-cate{
        width: 20px;
    }
    .mgTop-20{
        margin-top: $mgTop-20;
    }
    .container-1 {
        max-width: 101vw;
        width: 100%;
    }

    section {
        .section-title {
            
            font-family: $fontTilte;
            font-size: 40px;
            line-height: 60px;
            font-weight: 900;
            text-align: center;
            margin-bottom: 40px;

        }
    }

    .sz-container{
        width: 1200px;
        margin: 0 auto;
        background: white;
    }
    .sz-container-flex{
        display: flex;

        .sz-filter-panel{
            flex: 0 0 11.875rem;
            min-width: 0;
            margin: 0 1.25rem 1.25rem 0;

            .sz-cate-list{
                color: rgba(0,0,0,.8);

                .sz-cate-list__header{
                    text-transform: capitalize;
                    text-decoration: none;
                    color: rgba(0,0,0,.8);
                    height: 3.125rem;
                    line-height: 3.125rem;
                    font-weight: 700;
                    font-size: 1rem;
                    display: block;
                    border-bottom: 1px solid rgba(0,0,0,.05);
                    margin-bottom: 0.625rem;
                    display: flex;
                    align-items: center;
                    .css-icon{
                        margin:5px;
                    }
                }

                .sz-cate-list__body{
                    
                }
            }
        }
    }

}