@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap');

$fontTilte: monospace, 'Space Mono';
$mgTop-20: 20px;
$main-color:#ee2d5a;
$pink-blur:#ffc0cb33;
.mg-right{
    margin-right: 10px;
}
.icon-active{
    display: block;
}
.icon-off{
    display: none ;
}
#catelog-cart {
    .sz-cate-list__header{
        text-transform: capitalize;
        text-decoration: none;
        color: rgba(0,0,0,.8);
        height: 50px;
        line-height: 50px;
        font-weight: 700;
        font-size: 1rem;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,.05);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        .css-icon{
            margin:5px;
        }
    }
    //Cart 
    background-color: #fafafa;
    .all-icon-cate{
        width: 20px;
    }
    .mgTop-20{
        margin-top: $mgTop-20;
    }
    .container-1 {
        max-width: 101vw;
        width: 100%;
    }

    section {
        .section-title {
            
            font-family: $fontTilte;
            font-size: 40px;
            line-height: 60px;
            font-weight: 900;
            text-align: center;
            margin-bottom: 40px;

        }
    }

    .sz-container{
        width: 1200px;
        margin: 0 auto;
        background: white;
    }

    
    .sz-container-flex{
        display: flex;

        .sz-filter-panel{
            flex: 0 0 190px;
            min-width: 0;
            margin: 0 20px 20px 0;
            background-color: $pink-blur;
            height: fit-content;

            .sz-cate-list{
               

                

                .sz-cate-list__body{
                    .sz-cate-list__category{
                        .sz-category-list__main-category{
                            display: flex;
                            align-items: center;
                            position: relative;
                            overflow: hidden;
                            display: -webkit-box;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            padding: 8px 10px 8px 12px;
                            position: relative;
                            line-height: 16px;
                            max-height: 48px;
                            word-wrap: break-word;
                        
                            .sz-category-list__main-category__link{
                                color:$main-color;
                            }
                            .sz-category-list__main-category--active{
                            
                        }
                        .sz-category-list__main-category--inactive{
                            color:rgba(0, 0, 0, 0.857);
                        }
                           
                            
                        }
                        .folder-items {
                            
                            padding: 8px 10px 8px 12px;
                            line-height: 20px;
                            max-height: auto;
                            margin-bottom: 10px;
                            .list-sub__category{
                                text-decoration: none;
                                color: rgba(0,0,0,.87);
                                display: block;
                                text-transform: capitalize;
                                padding: 5px 5px 10px 0;
                            }
                        }
                    }
                }
            }
            .sz-filter-search{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-transform: uppercase;
                color: rgba(0,0,0,.8);
                height: 30px;
                font-weight: 700;
                font-size:16px;

                .sz-filter-search__text{
                    flex: 1;
                }
            }
            .SZFT-1{
                margin-top: 30px;
            }

            .sz-filter-group{
                padding: 20px 0;
                border-bottom: 1px solid rgba(0,0,0,.09);

                .sz-filter-group__header{
                    margin-bottom: 10px ;
                    font-weight:500;
                }
                .sz-filter-group__body{
                    .sz-filter{
                        align-items: flex-start;
                        padding: 8px 0;
                        flex-direction: column;
                        .sz-checkbox{
                            overflow: hidden;
                            display: flex;
                            color: rgba(0,0,0,.8);
                            margin: 10px 0;
                            padding: 8px 10px 8px 12px;
                            .sz-checkbox__control{
                                align-items: flex-start;
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                            }
                            input{
                                display: none;
                            }
                            .sz-checkbox__box{
                                margin-top: 3px;
                                justify-content: center;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                background-color: #fff;
                                text-align: center;
                                width: 13px;
                                height:13px;
                                line-height: 11px;
                                border: 1px solid rgba(0,0,0,.26);
                                border-radius: 2px;
                                flex-shrink: 0;
                                margin-right:10px;
                                box-shadow: inset 0 1px 0 0 rgba(0,0,0,.05);
                                }
                            .sz-checkbox__label{
                                overflow: hidden;
                                display: -webkit-box;
                                text-overflow: ellipsis;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                                line-height: 1rem;
                                max-height: 3rem;
                                word-wrap: break-word;
                            }
                        }
                    }
                    .sz-checkbox-filter{
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                    }
                }
            }
            .sz-facet-filter{
                
            }
        }
    }

    .SZrsSI{
        flex: 1;
        width: 0;
        min-width: 0;
        .sz-search-items-result{
            .sz-soft-bar{
                font-weight: 400;
                background: rgba(0,0,0,.03);
                padding: 0.8125rem 1.25rem;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .sz-soft-bar__label{
                    color: #555;
                    margin: 0 5px 0 0;
                }
                .sz-sort-by-options{
                    display: flex;
                    align-items: stretch;
                    flex: 1;
                    justify-content: flex-start;
                    .sz-sort-by-options__option{
                        color:white;
                        box-shadow: 0 1px 1px 0 rgba(0,0,0,.02);
                        height: 34px;
                        line-height: 34px;
                        border-radius: 2px;
                        border: 0;
                        user-select: none;
                        display: flex;
                        flex: 0 0 5.625rem;
                        align-items: center;
                        justify-content: center;
                        text-transform: capitalize;
                        padding: 0 0.9375rem;
                        background: #fff;
                        white-space: nowrap;
                        margin-left: 0.625rem;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        
                    }
                    .sz-sort-by-options__option:hover{
                        background-color: $main-color;
                        color: white;
                        cursor: pointer;
                    }

                    .select-with-status{
                        min-width: 200px;
                        margin-left: 10px;
                        .select-with-status__holder{
                            box-shadow: 0 1px 1px 0 rgba(0,0,0,.02);
                            height: 34px;
                            line-height: 34px;
                            border-radius: 2px;
                            border: 0;
                            margin: 0;
                             background: #fff;
                             .select-with-status__placeholder{
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                color: rgba(0,0,0,.8);
                                margin: 0 10px 0 12px;
                                padding: 0;
                                text-align: left;
                             }
                        }
                    }
                    .css-font-color{
                        color: black;
                    }
                    .sz-sort-by-options__option--selected{
                        background-color: $main-color;
                    }
                    .sz-sort-by-options__option--selected:hover{
                        background-color: black;
                        color: #ee2d5a;
                    }
                }

            }
           
            .sz-search-items-result_items{
                margin: 8px 0 0;
                width: 100%;
                height: auto;
                .sz-header-iems-content-wrapper {
                    width: 90%;
                    min-height: 0px;
                    margin-right: auto;
                    margin-left: auto;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                  }
            }
            .N2tvQs {
                margin-top: 40px;
                .sz-page-controller{
                    margin: 24px 0 60px;
                    display: flex;
                    justify-content: center;
                    .sz-icon-button--left{
                        text-align: right;
                        margin-right: 0.9375rem;
                    }
                    .sz-icon-button{
                        color: rgba(0,0,0,.4);
                        min-width: 20px;
                        height: 40px;
                        border: 0;
                        background-color: initial;
                        padding: 0;
                        outline: none;
                        cursor: pointer;
                        border: 0;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 1;
                        letter-spacing: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: background-color .1s cubic-bezier(.4,0,.6,1);
                    

                    }
                    .sz-button-solid--primary{
                        background-color: $main-color;
                        position: relative;
                        overflow: visible;
                        outline: 0;
                    }
                    .sz-button-solid{
                        padding: 0;
                        min-width: 40px;
                        text-align: center;
                        height: 30px;
                        font-size: 25px;
                        margin-left: 15px;
                        margin-right: 15px;
                        border: 1px solid $main-color;
                  }
                  .sz-button-no-outline {
                    position: relative;
                    overflow: visible;
                    outline: 0;
                    padding:5px 7px;
                    color: rgba(0, 0, 0, 0.394);
                    background-color: initial;
                    border: 0;
                    padding: 0;
                    min-width: 40px;
                    text-align: center;
                    height: 30px;
                    font-size: 20px;
                    margin-left: 15px;
                    margin-right: 15px;
                  }
                  .sz-button-no-outline--non-click{
                    cursor: auto;
                  }
                  .sz-icon-button--right{
                  text-align: left;
                  margin-left: 15px;
                }
                }
            }
        }
    }
    .btn-apply{
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        .bt-css{
            color: white;
            background-color: $main-color;
            width: 50px;
            height: 30px;
            border: 1px solid $main-color;
            align-items: center;
            padding: 2px;
            font-size: 12px;
        }
    }

}