@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap');


$font: monospace, 'Space Mono';
$main-color: #ee2d5a;
$bg-color: #fafafa;

#success-order{
    width: 100%;
    height:auto;
    .success-order-wrapper{
        width: 90%;
        margin: 0 auto;
        .order-confirmation{
            width: 600px;
            height: 200px;
            margin: auto;
            background-color: rgba(255, 192, 203, 0.778);
            border: 2px dotted $main-color;
            .title-thanks{
                text-transform: uppercase;
                font-size: 30px;
                font-weight: 600;
                color: $main-color;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .content-thanks{
                padding: 0 30px;
                .id-order{
                    display:flex;
                    justify-content: center;
               
                .css-p{
                    font-size: 14px;
                }
                .css-p-numb{
                    font-size: 18px ;
                    font-weight: 800;
                    margin-left: 10px;
                    color: blue;
                }
               
            }
            .remind-order{
                color: black;
                font-size: 16px;
                .css-color-text{
                    color: #ee2d5a;
                }
                .money-order{
                    color: #ee2d5a;
                    font-size: 22px;
                }
            }
            .shop-name{
                font-size: 25px;
                font-weight: 900;
                text-align: end;
            }
            }
        }
    }
}
a{
    text-decoration: none;
}

