@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&family=Space+Mono:wght@400;700&display=swap');


$font: monospace, 'Space Mono';
.wishlist-wrapper{
.wishlist-1{
    font-family: $font;
    padding: 20px 0 ;
    margin-left: auto;
    margin-right:auto ;

        //title
        .wishlist-title{
            text-align: center;
            line-height: 60px;
            font-size: 30px;
            font-weight: 800;
            color: black;
        
        }

        .wishlist-list{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            .infor-list{
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 10px;
                .name-list{
                    display: flex;
                    flex-wrap: wrap;
                    
                    .save-list{
                        width: 40px;
                        font-size: 12px;
                        text-align: center;
                        background: pink;
                        font-weight: 400;
                        border: 1px solid pink;
                        margin-left: 10px;
                        color: white;

                    }
                }
            }
            .wishlist-item{
                display: flex;
                gap: 2rem;
                flex-wrap: wrap;
                padding: 10px 20px 10px 20px;
            }

            .product-wrapper-item {
                width: 280px;
                max-width: 280px;
                max-height: 400px;
                background-color:  white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                position: relative;
              }
          
              .product-wrapper-item:hover {
                border: 1px solid gray;
                transition: 0.2s ;
              }
          
              .css-product-item{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                position: relative;
                width: 100%;
                height: 30px;
          
                
                a{
                  text-decoration: none;
                  font-size: 18px;
                  font-family: $font;
                  font-weight: 700;
                  color: black;
                  text-transform: uppercase;
                  position: absolute;
                  background: white;
                }
                img{
                  width: 30px;
                  height: 30px;
                }
              }
          
              .css-product-item:hover{
                text-overflow: unset;
                white-space: unset;
                overflow: unset;
              }
              
              .sold{
                font-size: 10px;
                color: gray;
              }
          
              .icon-product{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                img{
          
                  width: 30px;
                  height: auto;
                }
                .wishlist{
                 margin-left: 80px;
                  cursor: pointer;
                }
                .voucher{
                  display: flex;
                  bottom: 0.5rem;
                }
            
                .img-buynow{
                 
                  cursor: pointer;
                }
              }
          
              .css-product-item-price{
                margin-top: 10px;
              }
          
             
          
              .img-icon:hover {
                background:hsl(216, 27%, 89%);
              }
          
              
            }
            
            .product-wrapper-item .product-item-slider {
              width: 100%;
              height: auto;
            }
            
            .product-item-slider .product-item-img img {
              width: 240px;
              height: 240px;
              padding: auto;
              margin-top: 10px;
              margin-right: auto;
              margin-bottom:20px;
              margin-left: auto;
            }
            
            .product-wrapper-item .product-item-descrip {
              width: 200px;
              min-height: 120px;
              margin-right: auto;
              margin-left: auto;
            
              .product-item-name {
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size:16px;
                font-weight: 600;
              }
            }
            
            .product-item-descrip {
              .product-item-price , .product-item-name {
                color: black;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
              }
            
              .product-item-price {
                font-weight: 500;
                margin-top: 20px;
              }
          
              .old-price{
                text-decoration: line-through;
              }
            
            
        }
    }
}