<div id="slider-container">
    <div class="item"><img src="/img_slider/slider2.jpeg" alt=""></div>
    <div class="item"><img src="/img_slider/slider1.jpeg" alt=""></div>
    <div class="item"><img src="/img_slider/slider3.jpeg" alt=""></div>
    

</div>
<!-- List Category -->

<div id="section-below-header">
    <div class="home-category-list">
        <div class="category-name">
            <a href=""><b>CATEGORY</b></a>
        </div>
        <div class="category-wrapper">
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/second-hand.png" alt="schand" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">Secondhand</a>
                </div>
            </div>
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/man.png" alt="man-clothing" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">Man</a>
                </div>
            </div>
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/homosexual.png" alt="gender" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">Unisex</a>
                </div>
            </div>
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/tshirt.png" alt="t-shirt" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">T-Shirt</a>
                </div>
            </div>
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/trousers.png" alt="trousers" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">Pant</a>
                </div>
            </div>
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/voucher.png" alt="coupon" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">Voucher</a>
                </div>
            </div>
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/new.png" alt="new-clothing" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">New Clothing</a>
                </div>
            </div>
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/woman.png" alt="women-clothing" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">Woman</a>
                </div>
            </div>
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/dress.png" alt="dress" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">Dress</a>
                </div>
            </div>
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/cloth.png" alt="somi" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">Somi</a>
                </div>
            </div>
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/gift-box.png" alt="gift" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">Gifts</a>
                </div>
            </div>
            <div class="category-item">
                <div class="item-img">
                    <img src="/images/image-category/delivery-truck.png" alt="truck" class="item-img">
                </div>
                <div class="item-descrip">
                    <a href="">Delivery</a>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- Container (product brand + product-item ) -->

<div id="container">
    <div class="brand-slider">
        <div class="brand"><img src="/img_slider/image-slider_brand/brand1.jpeg" alt=""></div>
        <div class="brand"><img src="/img_slider/image-slider_brand/brand2.jpeg" alt=""></div>
        <div class="brand"><img src="/img_slider/image-slider_brand/brand3.jpeg" alt=""></div>
        <div class="brand"><img src="/img_slider/image-slider_brand/brand4.jpeg" alt=""></div>
        <div class="brand"><img src="/img_slider/image-slider_brand/brand5.jpeg" alt=""></div>
    </div>

    
    <div class="brand-product">
        <div class="brand-product-wrapper">
            <a href="" class="click-item">
            <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                    <div class="css-product-item">
                        <a href="/product/view/:id">Dress| Champage so sexy by HN</a>
                        
                    </div>
                    <div class="css-product-item-price">
                        <span class="product-item-price old-price">$20</span>
                        <span class="product-item-price new-price">$18 </span>    
                    </div>
                     <span class="sold">BOUGHT : 10</span>
                     <div class="icon-product ">
                        <div class="coupon">
                            <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                        </div>
                        <div class="wishlish">
                            <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                        </div>
                        <div class="add">
                            <img class="img-icon img-buynow"src="/images/iconheader/white-shopping-bag.svg" alt="btn buy now">
                        </div>
                    </div>
                </div>
            </div>

                 <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                    <div class="css-product-item">
                        <a href="/product/view/:id">Dress| Champage so sexy by HN</a>
                        
                    </div>
                    <div class="css-product-item-price">
                        <span class="product-item-price old-price">$20</span>
                        <span class="product-item-price new-price">$18 </span>    
                    </div>
                     <span class="sold">BOUGHT : 10</span>
                     <div class="icon-product ">
                        <div class="coupon">
                            <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                        </div>
                        <div class="wishlish">
                            <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                        </div>
                        <div class="add">
                            <img class="img-icon img-buynow"src="/images/iconheader/white-shopping-bag.svg" alt="btn buy now">
                        </div>
                    </div>
                </div>
            </div>

               <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                    <div class="css-product-item">
                        <a href="/product/view/:id">Dress| Champage so sexy by HN</a>
                        
                    </div>
                    <div class="css-product-item-price">
                        <span class="product-item-price old-price">$20</span>
                        <span class="product-item-price new-price">$18 </span>    
                    </div>
                     <span class="sold">BOUGHT : 10</span>
                     <div class="icon-product ">
                        <div class="coupon">
                            <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                        </div>
                        <div class="wishlish">
                            <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                        </div>
                        <div class="add">
                            <img class="img-icon img-buynow"src="/images/iconheader/white-shopping-bag.svg" alt="btn buy now">
                        </div>
                    </div>
                </div>
            </div>

                <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                    <div class="css-product-item">
                        <a href="/product/view/:id">Dress| Champage so sexy by HN</a>
                        
                    </div>
                    <div class="css-product-item-price">
                        <span class="product-item-price old-price">$20</span>
                        <span class="product-item-price new-price">$18 </span>    
                    </div>
                     <span class="sold">BOUGHT : 10</span>
                     <div class="icon-product ">
                        <div class="coupon">
                            <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                        </div>
                        <div class="wishlish">
                            <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                        </div>
                        <div class="add">
                            <img class="img-icon img-buynow"src="/images/iconheader/white-shopping-bag.svg" alt="btn buy now">
                        </div>
                    </div>
                </div>
            </div>

                <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                    <div class="css-product-item">
                        <a href="/product/view/:id">Dress| Champage so sexy by HN</a>
                        
                    </div>
                    <div class="css-product-item-price">
                        <span class="product-item-price old-price">$20</span>
                        <span class="product-item-price new-price">$18 </span>    
                    </div>
                     <span class="sold">BOUGHT : 10</span>
                     <div class="icon-product ">
                        <div class="coupon">
                            <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                        </div>
                        <div class="wishlish">
                            <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                        </div>
                        <div class="add">
                            <img class="img-icon img-buynow"src="/images/iconheader/white-shopping-bag.svg" alt="btn buy now">
                        </div>
                    </div>
                </div>
            </div>

                <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                    <div class="css-product-item">
                        <a href="/product/view/:id">Dress| Champage so sexy by HN</a>
                        
                    </div>
                    <div class="css-product-item-price">
                        <span class="product-item-price old-price">$20</span>
                        <span class="product-item-price new-price">$18 </span>    
                    </div>
                     <span class="sold">BOUGHT : 10</span>
                     <div class="icon-product ">
                        <div class="coupon">
                            <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                        </div>
                        <div class="wishlish">
                            <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                        </div>
                        <div class="add">
                            <img class="img-icon img-buynow"src="/images/iconheader/white-shopping-bag.svg" alt="btn buy now">
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                    <div class="css-product-item">
                        <a href="/product/view/:id">Dress| Champage so sexy by HN</a>
                        
                    </div>
                    <div class="css-product-item-price">
                        <span class="product-item-price old-price">$20</span>
                        <span class="product-item-price new-price">$18 </span>    
                    </div>
                     <span class="sold">BOUGHT : 10</span>
                     <div class="icon-product ">
                        <div class="coupon">
                            <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                        </div>
                        <div class="wishlish">
                            <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                        </div>
                        <div class="add">
                            <img class="img-icon img-buynow"src="/images/iconheader/white-shopping-bag.svg" alt="btn buy now">
                        </div>
                    </div>
                </div>
            </div>
    <div class="product-wrapper-item">
                <div class="product-item-slider">
                <div class="product-item-img product-avatar"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_2.jpeg" alt="Image2"></div>
                <div class="product-item-img"><img src="/images/image-product/product1_1.jpeg" alt="Image 1"></div>
                </div>
                <div class="product-item-descrip ">
                    <div class="css-product-item">
                        <a href="/product/view/:id">Dress| Champage so sexy by HN</a>
                        
                    </div>
                    <div class="css-product-item-price">
                        <span class="product-item-price old-price">$20</span>
                        <span class="product-item-price new-price">$18 </span>    
                    </div>
                     <span class="sold">BOUGHT : 10</span>
                     <div class="icon-product ">
                        <div class="coupon">
                            <img class="img-icon voucher" src="/images/iconheader/coupon20.svg" alt="coupon">
                        </div>
                        <div class="wishlish">
                            <img class="img-icon wishlist" src="/images/iconheader/heart.svg" alt="wishlist">
                        </div>
                        <div class="add">
                            <img class="img-icon img-buynow"src="/images/iconheader/white-shopping-bag.svg" alt="btn buy now">
                        </div>
                    </div>
                </div>
            </div>
            </a>
    </div>
    


</div>


<div class="contact-send-email">
    <div class="contact section-name">
        <h2 class="contact-heading">#sprezza.e-commerce</h2>
        <p class="sub-contact-heading"><i>Fashion is what you adopt when you don't know who you are.</i></p>
        <div class="form-email-btn">
            <form>
                <input type="email" name="Email" placeholder="Enter your email!" required>
                <button type="submit"><img src="/images/iconheader/send.svg" width="30px" alt="Send-email"></button>
            </form>
        </div>
    </div>
</div>
 <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#slider-container").slick(
                {
                    autoplay:true,
                    autoplaySpeed:5000,
                    dots: true,
                    speed: 300,
                    slidesToShow: 1,
                    }
            );

            $('.brand-slider').slick({
                    infinite: true,
                    autoplay:true,
                    autoplaySpeed:3000,
                    speed: 300,
                    slidesToShow: 3,
                    slidesToScroll: 3
            });
            

            $('.product-item-slider').slick({
                arrows:false,
                autoplaySpeed:2000,
                autoplay:false,
            });
        });
    </script>
