<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPREZZA</title>
    <!--  <link rel="stylesheet" href="./asset/style.css"> -->
    <link href="css/main.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="./asset/images/Image/favicon.png">
    <!-- Add the slick-theme.css if you want default styling -->
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
</head>
<body class="text-red-700">
    <header>
        {{>header}}
    </header>
    <div class="container">
        {{{body}}}
    </div>
   
    <footer>
        {{>footer}}
    </footer>
    
</body>
</html>